<div class="menu">
    <div class="container-fluid">
        <div class="row">
            <div class="item col-xs-6" ui-sref-active="active">
                <a ui-sref="app.get.url">{{'GET_BY_LINK.CONTROLS.RECEIVE.BTN_URL' | translate}}</a>
            </div>
            <div class="item col-xs-6" ui-sref-active="active">
                <a ui-sref="app.get.code">{{'GET_BY_LINK.CONTROLS.RECEIVE.BTN_CODE' | translate}}</a>
            </div>
        </div>
    </div>
</div>
<div class="sub-main" ui-view></div>
