<div class="mobile-wrapper">
    <h3 translate="MOBILE.BE_MOBILE">Будь мобильным!</h3>
    <h4 translate="MOBILE.DOWNLOAD">Скачай SendUA!</h4>
    <div class="frame">
        <div class="mobile-android">
            <h4 translate="MOBILE.ANDROID">для Android</h4>
            <a class="market-box" href="https://play.google.com/store/apps/details?id=com.sendua"
               target="_blank">
                <div class="android-link"></div>
            </a>
        </div>
        <div class="pics">
        </div>
        <div class="mobile-ios">
            <h4 translate="MOBILE.IOS">для iOS</h4>
            <a class="market-box" href="https://itunes.apple.com/us/app/send.ua/id995162040?mt=8" target="_blank">
                <div class="ios-link"></div>
            </a>
        </div>
    </div>
</div>