<div class="state-input state-border" ct-spinner="tariffs_loader || input_loader">
    <form name="c2cForm" ct-payments ng-submit="submit()">
        <div class="form-container">
            <div class="form-title">{{ 'CARD2CARD.TITLE' | translate }}</div>
            <div class="row">
                <div class="col-sm-4">
                    <div class="cards source">
                        <div class="card-logo"></div>
                        <h4>{{ 'CARD2CARD.SOURCE.TITLE' | translate }}</h4>
                        <div class="form-group card-input" ct-input-container>
                            <input type="text" name="number" class="form-control" ct-tabindex="checkNumber" tabindex="1"
                                   ng-model="number" required placeholder="{{ 'CARD2CARD.SOURCE.NUMBER' | translate }}"
                                   autocomplete="off"
                                   ct-payments-main-card
                                   ct-payments-format-number
                                   ct-payments-validate-number
                                   ng-class="c2cForm.number.$card.type"/>
                        </div>
                        <div class="row row-centered">
                            <div class="col-sm-4" ct-input-container>
                                <div class="form-group">
                                    <input type="text" class="form-control" ct-tabindex="checkMonth"
                                           required
                                           maxlength="2" tabindex="2"
                                           ng-model="viewExpire.month" name="month" autocomplete="off"
                                           placeholder="{{ 'CARD2CARD.SOURCE.MONTH' | translate }}"
                                           ct-payments-format-expire-month-text
                                           ct-payments-validate-month/>
                                </div>
                            </div>
                            <div class="col-sm-4" ct-input-container>
                                <input type="text" class="form-control" ct-tabindex="checkYear" required
                                       maxlength="2" tabindex="3"
                                       ng-model="viewExpire.year" name="year" autocomplete="off"
                                       placeholder="{{ 'CARD2CARD.SOURCE.YEAR' | translate }}"
                                       ct-payments-format-expire-year-text
                                       ct-payments-validate-year/>
                            </div>
                            <div class="has-feedback col-sm-4">
                                <div ct-input-container>
                                    <input type="{{ cvcType }}" maxlength="3" id="cvc" name="cvc"
                                           class="form-control"
                                           ng-model="cvc" required tabindex="4" ct-tabindex="checkCvc"
                                           placeholder="{{ 'CARD2CARD.SOURCE.CVC' | translate }}"
                                           ct-payments-format-cvc
                                           ct-payments-validate-cvc/>
                                    <span class="glyphicon glyphicon-eye-open form-control-feedback"
                                          ng-click="toggleCvc()"></span>
                                </div>
                            </div>
                            <div ct-input-container class="card-input">
                                <input type="hidden" name="expire"
                                       ng-model="expire" required
                                       ct-payments-validate-expire="viewExpire"/>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-sm-4">
                    <div class="amount">
                        <p><strong>{{ 'CARD2CARD.AMOUNT.TITLE' | translate }}</strong></p>
                        <div class="form-group" ct-input-container>
                            <input type="number" name="amount" class="form-control" tabindex="6"
                                   ng-model="amount" ng-change="vmInput.calculate()" min="1" max="25000" required
                                   autocomplete="off" amount/>
                            <span>{{ 'CARD2CARD.AMOUNT.RANGE' | translate }}</span>
                            <div ng-messages="c2cForm.amount.$error">
                                <div ng-message="required">{{ 'CARD2CARD.ERRORS.AMOUNT.AMOUNT_REQUIRED' | translate }}
                                </div>
                                <div ng-message="min">{{ 'CARD2CARD.ERRORS.AMOUNT.BIGGER_SUM' | translate }}</div>
                                <div ng-message="max">{{ 'CARD2CARD.ERRORS.AMOUNT.SMALLER_SUM' | translate }}</div>
                            </div>
                        </div>
                        <div class="comission">
                            {{ 'CARD2CARD.AMOUNT.COMMISSION' | translate }} {{ commiss || 0 }}
                            {{ 'CARD2CARD.AMOUNT.CURRENCY' | translate }}<br>
                            ({{ config.tariff.comm_percent }}% + {{config.tariff.total_min/100 }}
                            {{ 'CARD2CARD.AMOUNT.CURRENCY' | translate }})
                        </div>
                        <div class="total">
                            <strong>
                                {{ 'CARD2CARD.AMOUNT.TOTAL' | translate }} {{ total || 0 }}
                                {{ 'CARD2CARD.AMOUNT.CURRENCY' | translate }}
                            </strong>
                        </div>
                    </div>
                </div>
                <div class="col-sm-4">
                    <div class="cards target">
                        <h4>{{ 'CARD2CARD.TARGET.TITLE' | translate }}</h4>
                        <div class="form-group card-dest" ct-input-container>
                            <input type="text" name="numberTarget" class="form-control" ct-tabindex="checkTargetNumber"
                                   ng-model="numberTarget" required tabindex="7"
                                   placeholder="{{ 'CARD2CARD.TARGET.NUMBER' | translate }}"
                                   ct-payments-format-number
                                   ct-payments-validate-number/>
                        </div>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-sm-4">
                    <div class="phone-number">
                        <div class="form-group" ct-input-container>
                            <p>{{ 'CARD2CARD.SOURCE.PHONE_NUMBER' | translate }}</p>
                            <input type="text" name="phone" class="form-control" ui-mask="+380 (99) 999 99 99"
                                   tabindex="5"
                                   ct-tabindex="checkPhone" ng-model="phone" tabindex="5"
                                   required placeholder="+380 (__) ___-__-__"/>
                        </div>
                    </div>
                </div>
                <div class="submit-check">
                    <div class="checkbox">
                        <label>
                            <input type="checkbox" tabindex="8" ng-model="agreed" required>
                            <span translate="CARD2CARD.AGREEMENT"></span>
                        </label>
                    </div>
                    <button type="submit" class="btn btn-primary btn-large send-button"
                            tabindex="9"
                            ng-disabled="c2cForm.$invalid || c2cForm.$pristine">
                        {{ 'CARD2CARD.SEND' | translate }}
                    </button>
                </div>
            </div>
            <div class="row">
                <div class="col-sm-4">
                    <div class="error">
                        <div class="error">
                            <div ng-messages="c2cForm.number.$error" ng-show="c2cForm.number.$touched">
                                <div ng-message="required">{{ 'CARD2CARD.ERRORS.SOURCE.NUMBER_REQUIRED' | translate }}
                                </div>
                                <div ng-message="invalidNumber">{{ 'CARD2CARD.ERRORS.SOURCE.NUMBER_INVALID' | translate
                                    }}
                                </div>
                            </div>
                            <div ng-messages="c2cForm.expire.$error">
                                <div ng-message="invalidExpire">{{ 'CARD2CARD.ERRORS.SOURCE.DATE_EXPIRE' | translate
                                    }}
                                </div>
                            </div>
                            <div ng-messages="c2cForm.cvc.$error" ng-show="c2cForm.cvc.$touched">
                                <div ng-message="required">{{ 'CARD2CARD.ERRORS.SOURCE.CVC_REQUIRED' | translate }}
                                </div>
                                <div ng-message="invalidCvc">{{ 'CARD2CARD.ERRORS.SOURCE.CVC_INVALID' | translate }}
                                </div>
                            </div>
                            <div ng-messages="c2cForm.phone.$error" ng-show="c2cForm.phone.$touched">
                                <div ng-message="required">{{ 'CARD2CARD.ERRORS.SOURCE.PHONE_REQUIRED' | translate }}
                                </div>
                                <div ng-message="mask">{{ 'CARD2CARD.ERRORS.SOURCE.PHONE_INVALID' | translate }}</div>
                            </div>
                            <div ng-messages="c2cForm.numberTarget.$error" ng-show="c2cForm.numberTarget.$touched">
                                <div ng-message="required">{{ 'CARD2CARD.ERRORS.TARGET.NUMBER_REQUIRED' | translate }}
                                </div>
                                <div ng-message="invalidNumber">{{ 'CARD2CARD.ERRORS.TARGET.NUMBER_INVALID' | translate
                                    }}
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </form>
</div>