<div class="state-lookup">
    <div class="lookup-close" data-ng-click="goState(STATES.INPUT)"></div>
    <div class="form-title" translate="CARD2CARD.LOOKUP.TITLE">Перевод
        с карты на карту
    </div>
    <form class="lookup-box" ng-submit="submit()">
        <div class="lookup-title">
            <span translate="CARD2CARD.LOOKUP.DESC.FOR_CHECK"></span>
            <span translate="CARD2CARD.LOOKUP.DESC.OPERATION_SUCCESS">Якщо операція пройшла вдало і ви отримали повідомлення на телефон, будь ласка вкажіть код з смс</span>
            <span class="lookup-code">(VSEND_CODE(</span>xxxxxx<span class="lookup-code">))</span>
        </div>
        <div class="row lookup-forms">
            <div class="col-md-5 col-sm-5 col-xs-5 lookup-sms-title" translate="CARD2CARD.LOOKUP.CODE">
                Код из СМС
            </div>
            <div class="col-md-7 col-sm-7 col-xs-7">
                <input type="text"
                       class="lookup-sms-input"
                       data-ng-model="lookupCode"
                       maxlength="6"
                       tooltip="Код должен состоять из 6-ти цифр"
                       tooltip-enable="send.lookupCode.error"
                       tooltip-trigger="focus"
                       tooltip-placement="top"
                       placeholder="XXXXXX"
                       only-digits
                       required/>
            </div>
        </div>
        <button class="lookup-continue"
                type="submit"
                data-ng-class="{disabled: (lookupCode.length != 6)}"
                translate="CARD2CARD.LOOKUP.CONTINUE">
            Продолжить
        </button>
    </form>
    <div class="clearfix"></div>
</div>