<h1 translate="HEADLINE" translate-values="{name: 'VVVV'}"></h1>
<form name="c2cForm" ct-payments>
    <div class="form-container">
        <div class="form-title">Перевод с карты на карту</div>
        <div class="row">
            <div class="col-sm-4">
                <div class="cards source">
                    <div class="card-logo"></div>
                    <h4>Карта отправителя</h4>
                    <div class="form-group card-input" ct-input-container>
                        <input type="text" name="number" class="form-control" ct-tabindex="checkNumber" tabindex="1"
                               ng-model="number" required placeholder="Номер карты" autocomplete="off"
                               ct-payments-main-card
                               ct-payments-format-number
                               ct-payments-validate-number
                               ng-class="c2cForm.number.$card.type"/>
                    </div>
                    <div class="form-group">
                        <div ct-input-container>
                            <input type="text" class="form-control small-input" ct-tabindex="checkMonth" required
                                   maxlength="2"
                                   placeholder="ММ" tabindex="2"
                                   ng-model="viewExpire.month" name="month" autocomplete="off"
                                   ct-payments-format-expire-month-text
                                   ct-payments-validate-month/>
                        </div>
                        <div ct-input-container>
                            <input type="text" class="form-control small-input" ct-tabindex="checkYear" required
                                   maxlength="2"
                                   placeholder="ГГ" tabindex="3"
                                   ng-model="viewExpire.year" name="year" autocomplete="off"
                                   ct-payments-format-expire-year-text
                                   ct-payments-validate-year/>
                        </div>
                        <div ct-input-container>
                            <input type="text" maxlength="3" id="cvc" name="cvc" class="form-control small-input"
                                   ng-model="cvc" required placeholder="CVC" tabindex="4" ct-tabindex="checkCvc"
                                   ct-payments-format-cvc
                                   ct-payments-validate-cvc/>
                        </div>
                        <div ct-input-container class="card-input">
                            <input type="hidden" name="expire"
                                   ng-model="expire" required
                                   ct-payments-validate-expire="viewExpire"/>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-sm-4">
                <div class="amount">
                    <p><b>Сумма перевода</b></p>
                    <div class="form-group" ct-input-container>
                        <input type="text" name="amount" class="form-control" tabindex="6" ct-currency
                               ng-model="amount" ng-change="vm.calculate()" min="1" max="25000" required
                               autocomplete="off"/>
                        <span>(от 1 до 25000 грн)</span>
                        <div ng-messages="c2cForm.amount.$error">
                            <div ng-message="required">Введите сумму перевода</div>
                            <div ng-message="min">Сумма должна быть больше</div>
                            <div ng-message="max">Сумма должна быть меньше</div>
                        </div>
                    </div>
                    <div class="comission">
                        <div><p>Комиссия: {{ commiss }} грн<br/><span>({{ config.tariff.comm_percent }}% + {{
                            config.tariff.total_min/100 }}грн) </span></p>
                        </div>
                    </div>
                    <div class="total">
                        <div><b>К оплате: {{ total }} грн</b></div>
                    </div>
                </div>
            </div>
            <div class="col-sm-4">
                <div class="cards target">
                    <h4>Карта получателя</h4>
                    <div class="form-group card-dest" ct-input-container>
                        <input type="text" name="numberTarget" class="form-control"
                               ng-model="numberTarget" required placeholder="Номер карты"
                               ct-payments-format-number
                               ct-payments-validate-number/>
                    </div>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-sm-4">
                <div class="phone-number">
                    <div class="form-group" ct-input-container>
                        <p>Ваш номер телефона</p>
                        <input type="text" name="phone" class="form-control" ui-mask="+380 (99) 999 99 99"
                               tabindex="5"
                               ct-tabindex="checkPhone" ng-model="phone" tabindex="5"
                               required placeholder="+380 (__) ___-__-__"/>
                    </div>
                </div>
            </div>
            <div class="submit-check">

                <div class="checkbox">
                    <label>
                        <input type="checkbox" ng-model="agreed">Cогласен с условиями
                    </label>
                </div>
                <button type="submit" class="btn btn-primary btn-large send-button"
                        ng-disabled="c2cForm.$invalid || c2cForm.$pristine">
                    Перевести
                </button>
            </div>
        </div>
        <div class="row">
            <div class="col-sm-4">
                <div class="error">
                    <div ng-messages="c2cForm.number.$error" ng-show="c2cForm.number.$touched">
                        <div ng-message="required">Введите номер карты отправителя</div>
                        <div ng-message="invalidNumber">Неверный номер карты отправителя</div>
                    </div>
                    <div ng-messages="c2cForm.expire.$error">
                        <div ng-message="invalidExpire">Срок действия карты истек</div>
                    </div>
                    <div ng-messages="c2cForm.cvc.$error" ng-show="c2cForm.cvc.$touched">
                        <div ng-message="required">Ведите номер CVC</div>
                        <div ng-message="invalidCvc">Неверный CVC</div>
                    </div>
                    <div ng-messages="c2cForm.phone.$error" ng-show="c2cForm.phone.$touched">
                        <div ng-message="required">Введите номер телефона</div>
                        <div ng-message="mask">Неверный номер телефона</div>
                    </div>
                    <div ng-messages="c2cForm.numberTarget.$error" ng-show="c2cForm.numberTarget.$touched">
                        <div ng-message="required">Введите номер карты получателя</div>
                        <div ng-message="invalidNumber">Неверный номер карты получателя</div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</form>
