<div class="state-success">
    <div class="send-success-box">
        <div class="send-success-container">
            <table class="send-success-table">
                <caption class="success-code-title" translate="CARD2CARD.SUCCESS.PAYMENT_SUCCESS">Платеж успешно
                    выполнен
                </caption>
                <tr>
                    <td class="success-description-title" translate="CARD2CARD.SUCCESS.TICKET_NUMBER">Номер
                        квитанции
                    </td>
                    <td class="success-description-number">{{operationNumber}}</td>
                </tr>
                <tr>
                    <td class="success-description-title" translate="CARD2CARD.SUCCESS.TICKET_DATE">Дата операции
                    </td>
                    <td class="success-description-number">{{currentDate | date:'dd-MM-yyyy HH:mm'}}</td>
                </tr>
                <tr>
                    <td class="success-description-title" translate="CARD2CARD.SUCCESS.SENDER_CARD">Карта
                        отправителя
                    </td>
                    <td class="success-description-number">** {{number.substring(-4, 4)}}</td>
                </tr>
                <tr>
                    <td class="success-description-title" translate="CARD2CARD.SUCCESS.RES_CARD">Карта получателя
                    </td>
                    <td class="success-description-number">** {{send.cardB.cardB4.value}}</td>
                </tr>
                <tr>
                    <td class="success-description-title" translate="CARD2CARD.SUCCESS.SUM_SEND">Сумма перевода
                    </td>
                    <td class="success-description-number"><strong>{{amount}}</strong> <span
                            translate="CARD2CARD.SUCCESS.UAH"></span></td>
                </tr>
                <tr>
                    <td class="success-description-title" translate="CARD2CARD.SUCCESS.COMMISSION_DESC">Комиссия
                    </td>
                    <td class="success-description-number"><strong>{{commiss}}</strong> <span
                            translate="CARD2CARD.SUCCESS.UAH"></span></td>
                </tr>
                <tr>
                    <td class="success-description-title" translate="CARD2CARD.SUCCESS.SUM_ALL">Сумма списания</td>
                    <td class="success-description-number"><strong>{{total}}</strong> <span
                            translate="CARD2CARD.SUCCESS.UAH"></span></td>
                </tr>
                <tr class="footer">
                    <td class="success-description-title">
                        <span class="success-print" data-ng-click="send.printTicket()"></span>
                        <span class="success-print-text"
                              translate="CARD2CARD.SUCCESS.PRINT_TICKET">Печать квитанции</span>
                        <div class="mailto-container">
                            <a data-ng-href="mailto:?subject=Ticket&body=Receipt number: {{send.operationNumber}}. Date of operation: {{send.currentDate | date:'dd/MM/yyyy HH:mm'}}. Card sender: ** {{send.cardA.cardA4.value}}. Card recipient: ** {{send.cardB.cardB4.value}}. Transfer amount: {{send.summ.value}} grn. Commission: {{send.commiss}} grn. The amount of write-offs: {{send.summTotal}} grn."><i
                                    class="mailto"></i></a>
                        </div>
                        <span class="mailto-text"
                              translate="CARD2CARD.SUCCESS.SEND_TO_EMAIL">Квитанцию на почту</span>
                    </td>
                    <td class="success-description-number"><span class="success-close"
                                                                 translate="CARD2CARD.SUCCESS.TO_START"
                                                                 data-ng-click="send.changeStage(1, true)">Закрыть</span>
                    </td>
                </tr>
            </table>
        </div>

    </div>

    <div class="clearfix"></div>
</div>