.main
	position: relative
	margin-top: 50px

.card2card
	margin: 0 auto
	height: 380px
	width: 95%
	min-width: 800px
	max-width: 930px
	min-height: 350px
	max-height: 470px
	background: rgba(255,255,255,.73)
	box-shadow: -6px 6px 16px 0 rgba(0,0,0,.15)
	border-radius: 4px

	.form-title
		font-size: 18px
		color: #435B8A
		letter-spacing: 1.85px
		line-height: 18px
		text-align: center
		padding: 25px
		text-transform: uppercase

	.ct-payments

		&.visa
			.card-logo
				background-image: url('~payment-icons/min/flat/visa.svg')

		&.mastercard
			.card-logo
				background-image: url('~payment-icons/min/flat/mastercard.svg')

		&.maestro
			.card-logo
				background-image: url('~payment-icons/min/flat/maestro.svg')

	.card-logo
		width: 53px
		height: 33px
		background-size: cover
		background-repeat: no-repeat
		position: absolute
		left: 175px
		margin-bottom: 14px

	.send-form
		height: 150px
		box-shadow: 0 2px 4px 0 rgba(0,0,0,.5)
		border-radius: 9px
		padding: 12px
		color: #fff
		background-size: cover
		&.source
			background-image: url(./images/card_bg_sender.jpg)
			margin-left: 120px

		&.target
			background-image: url(./images/card_bg_reseiver.jpg)

	//.card-image
		background-image: url('./images/card_bg.svg')
		background-repeat: no-repeat
		width: 492px
		height: 240px

	.ct-input
		border-radius: 5px
		height: 30px

	.button
		position: absolute
		top: 166px
		left: 261px

	.error
		font-size: 12px
		color: #d9534f
		margin-left: 120px

	.small-input
		width: 60px
		float: left
		margin-right: 8px

	.phone-number
		margin-left: 120px
		float: left
		width: 240px
		p
			text-align: center
			margin: 0 auto
			margin-top: 12px
		.form-group
			margin-bottom: 0

	.amount
		text-align: center
		padding: 0 40px 0 40px

		.form-group
			height: 35px

		.row
			margin-bottom: 10px

		.comission, .total

			div:nth-child(1)
				float: left
				font-size: 10pt
				padding: 4px

			div:nth-child(2)
				height: 30px
				width: 60px
				background-color: white
				float: right
				border-radius: 5px
				padding: 4px
		input
			width: 40%
			text-align: center
			margin: 0 auto
			float: none

	.submit-check
		float: right
		margin-right: 120px
		margin-top: 25px
		.checkbox
			display: inline-block
			padding-right: 20px

	.send-button
		height: 30px
		padding: 0 12px