<div class="menu">
    <div class="container-fluid">
        <div class="row">
            <div class="item col-xs-6" ui-sref-active="active">
                <a ui-sref="app.card">{{'CARD2CARD.CONTROLS.SEND.BTN_CARDTOCARD' | translate}}</a>
            </div>
            <div class="item col-xs-6" ui-sref-active="active">
                <a ui-sref="app.phone">{{'CARD2CARD.CONTROLS.SEND.BTN_PHONE' | translate}}</a>
            </div>
        </div>
    </div>
</div>
<div class="sub-main">
    <div card-to-card></div>
</div>