<div class="menu">
    <div class="container-fluid">
        <div class="row col-xs-12">
            <div class="item col-xs-4" ui-sref-active="active">
                <a ui-sref="app.card">{{'CARD2CARD.CONTROLS.SEND.BTN_CARDTOCARD' | translate}}</a>
            </div>
            <div class="item col-xs-4" ui-sref-active="active">
                <a ui-sref="app.phone">{{'CARD2CARD.CONTROLS.SEND.BTN_PHONE' | translate}}</a>
            </div>
        </div>
    </div>
</div>
<div class="sub-main">
    <div card-to-card></div>
</div>




<!--<div class="menu">-->
    <!--<div class="container-fluid">-->
        <!--<div class="row col-xs-12">-->
            <!--<div class="item col-xs-4" ui-sref-active="active">-->
                <!--<a ui-sref="app.card">{{'CARD2CARD.CONTROLS.SEND.BTN_CARDTOCARD' | translate}}</a>-->
            <!--</div>-->
            <!--<div class="item col-xs-4" ui-sref-active="active">-->
                <!--<a ui-sref="app.phone">{{'CARD2CARD.CONTROLS.SEND.BTN_PHONE' | translate}}</a>-->
            <!--</div>-->
        <!--</div>-->
    <!--</div>-->
<!--</div>-->
<!--<div class="sub-main">-->
   <!--<div card-to-card></div>-->
<!--</div>-->