<div class="state-error">
    <div class="title">{{ 'CARD2CARD.ERROR.TITLE' | translate }}</div>
    <div class="code-title">{{ 'CARD2CARD.ERROR.OPERATION_CODE' | translate }}</div>
    <div class="operation-number">{{ transaction.operationNumber }}</div>
    <div class="operation-status">{{ transaction.mPayStatus }}</div>
    <div class="phone-title">{{ 'CARD2CARD.ERROR.SUPPORT_TEL' | translate }}</div>
    <div class="phone-number"><strong>(044) 390-08-85</strong></div>
    <a ng-href="mailto:support@send.ua​?subject=Money transfer error&body=Code operation: {{$scope.operationNumber}}. Error: {{$scope.mPayStatus}}">
        <span translate="CARD2CARD.ERROR.SEND_TO_SERVICE"></span>
    </a>
    <button class="btn btn-warning" ng-click="goState(STATES.INPUT)">{{ 'CARD2CARD.BUTTON_CLOSE' | translate }}</button>
</div>