.state-lookup
  margin: 0 auto
  max-width: 650px
  border-radius: 10px
  padding: 20px 30px
  text-align: justify
  border: 2px solid #f0ad4e
  .close-icon
    cursor: pointer
    margin-top: -12px
    margin-right: -20px
    font-size: 18px
    color: #999999
  .title
    font-size: 1.7em
    text-align: center
    margin-bottom: 20px
  .input-title
    display: inline
  .bottom-block
    .lookup-input
      width: 20%
      display: inline-block
      margin-right: 15px