.pay
	.wrapper
		min-height: 465px
		height: 1px
		border-bottom: 1px solid black
		position: relative
		border-top: 1px solid #626B72
		margin: 0 auto
		width: 1024px

		.send
			color: #F79600
			height: 70px
			text-transform: uppercase
			display: inline-block
			width: 18%

		.from-card
			color: #F79600
			text-transform: uppercase
			display: inline-block
			width: 38%
			padding-left: 9%
			height: 35px
			padding-top: 8px
		.from-phone
			display: inline-block
			color: #124068
			text-transform: uppercase
			width: 40%
			padding-left: 8%
			background-color: #BCD0E4
			height: 35px
			padding-top: 8px
		.sidebar
			background-color: #BCD0E4
			height: 85%
			width: 18%
			float: left
			position: absolute
			.title
				text-transform: uppercase
				height: 60px
				padding: 20px

			.get
				color: #124068
		.content
			margin-left: 20%

