


<div class="main-left"></div>
<div class="main-right">
    <div class="menu">
        <div class="container-fluid">
            <div class="row col-xs-12 row-menu">
                <div class="item col-sm-4" ui-sref-active="active">
                    <a ui-sref="app.card">{{'CARD2CARD.CONTROLS.SEND.BTN_CARDTOCARD' | translate}}</a>
                </div>
                <div class="item col-sm-6" ui-sref-active="active">
                    <a ui-sref="app.phone">{{'CARD2CARD.CONTROLS.SEND.BTN_PHONE' | translate}}</a>
                </div>
            </div>
        </div>
    </div>
    <div class="state-error">
        <div class="title">{{ 'CARD2CARD.ERROR.TITLE' | translate }}</div>
        <div ng-if="transaction.operationNumber">
            <div class="code-title">{{ 'CARD2CARD.ERROR.OPERATION_CODE' | translate }}</div>
            <div class="operation-number">{{ transaction.operationNumber }}</div>
        </div>
        <!--<div ng-if="transaction.mPayStatus">-->
        <!--<div class="status-title">{{ 'CARD2CARD.ERROR.ERROR_CODE' | translate }}</div>-->
        <!--<div class="operation-status">{{ transaction.mPayStatus }}</div>-->
        <!--</div>-->
        <div class="text-title">{{ 'CARD2CARD.ERROR.GLOBAL_ERROR' | translate }}</div>
        <div class="phone-title">{{ 'CARD2CARD.ERROR.SUPPORT_TEL' | translate }}</div>
        <div class="phone-number"><strong>(044) 390-08-85</strong></div>
        <a ng-if="transaction.operationNumber && transaction.mPayStatus"
           ng-href="mailto:support@send.ua?subject=Money transfer error&body=Code operation: {{transaction.operationNumber}}. Error: {{transaction.mPayStatus}}">
            <button class="btn btn-link"><span translate="CARD2CARD.ERROR.SEND_TO_SERVICE"></span></button>
        </a>
        <a ng-if="transaction.operationNumber && !transaction.mPayStatus"
           ng-href="mailto:support@send.ua?subject=Money transfer error&body=Code operation: {{transaction.operationNumber}}.">
            <button class="btn btn-link"><span translate="CARD2CARD.ERROR.SEND_TO_SERVICE"></span></button>
        </a>
        <div class="buttons">
            <button class="btn btn-link" ng-click="goState(STATES.INPUT)">{{ 'CARD2CARD.BUTTON_CLOSE' | translate }}</button>
        </div>

    </div>

</div>
