<div class="state-phone-confirm" ct-spinner="loader">
    <div class="container-fluid">
        <form name="c2cForm" ct-payments ng-submit="submit()" autocomplete="off">
            <div class="form-group" ct-input-container>
                <label>{{'GET_BY_CODE.CONFIRM.INPUT_CODE' | translate}}</label>
                <input type="text" name="otpcode" class="form-control" ct-tabindex2="checkNumber" tabindex="1"
                       ng-model="otpcode" required/>
                <div class="error-number">
                    <div ng-messages="c2cForm.otpcode.$error" ng-show="c2cForm.otpcode.$touched">
                        <div ng-message="required">{{'GET_BY_CODE.CONFIRM.ERROR' | translate}}</div>
                    </div>
                </div>
            </div>
            <div class="text-right">
                <button type="submit" class="btn btn-warning btn-large next" tabindex="8"
                        ng-disabled="c2cForm.$invalid || c2cForm.$pristine">
                    {{'GET_BY_CODE.CONFIRM.NEXT' | translate}}
                </button>
            </div>
        </form>
    </div>
</div>
