<div class="main-left" ng-class="{'main-left-cross' : crossboard, 'main-left-popup' : popup, 'main-left-cross-popup' : popup && crossboard}"></div>
<div class="main-right">
    <div class="menu">
        <div class="container-fluid">
            <div class="row col-xs-12 row-menu">
                <div class="item col-sm-4" ui-sref-active="active">
                    <a ui-sref="app.url">{{'GET_BY_LINK.CONTROLS.RECEIVE.BTN_URL' | translate}}</a>
                </div>
                <div class="item col-sm-6" ui-sref-active="active">
                    <a ui-sref="app.code">{{'GET_BY_LINK.CONTROLS.RECEIVE.BTN_CODE' | translate}}</a>
                </div>
            </div>
        </div>
    </div>
    <div class="state-success">
        <div class="title">{{ 'CARD2CARD.SUCCESS.PAYMENT_SUCCESS' | translate }}</div>
        <div id="print" class="print">
            <div>
                {{ 'CARD2CARD.SUCCESS.TICKET_NUMBER' | translate }}
                <span class="pull-right">{{ transaction.operationNumber }}</span>
            </div>
            <div>
                {{ 'CARD2CARD.SUCCESS.TICKET_DATE' | translate }}
                <span class="pull-right">{{ currentDate | date:'dd-MM-yyyy HH:mm' }}</span>
            </div>
            <div ng-if="transaction.number">
                {{ 'CARD2CARD.SUCCESS.SENDER_CARD' | translate }}
                <span class="pull-right">** {{ transaction.number }}</span>
            </div>
            <div ng-if="transaction.numberTarget">
                {{ 'CARD2CARD.SUCCESS.RES_CARD' | translate }}
                <span class="pull-right">** {{ transaction.numberTarget }}</span>
            </div>
            <div ng-if="transaction.numberCard">
                Phone Number
                <span class="pull-right">** {{ transaction.numberCard }}</span>
            </div>
            <div>
                {{ 'CARD2CARD.SUCCESS.SUM_SEND' | translate }}
                <span class="pull-right">{{ transaction.amount | currency:currency }}</span>
            </div>
            <div ng-if="transaction.commiss">
                {{ 'CARD2CARD.SUCCESS.COMMISSION_DESC' | translate }}
                <span class="pull-right">{{ transaction.commiss | currency:currency }}</span>
            </div>
            <div ng-if="transaction.total">
                {{ 'CARD2CARD.SUCCESS.SUM_ALL' | translate }}
                <span class="pull-right">{{ transaction.total | currency:currency }}</span>
            </div>
        </div>
        <div class="form-group">
            <div class="input-group">
                <input type="text" class="form-control" ng-model="email">
                <span class="input-group-btn">
                    <button class="btn btn-default" type="button" ng-click="toEmail()">
                        <span translate="CARD2CARD.SUCCESS.SEND_TO_EMAIL"></span>
                    </button>
                </span>
            </div>
        </div>
        <div class="form-group text-right">
            <button class="btn btn-primary" ng-click="printDiv('print')"><span
                    translate="CARD2CARD.SUCCESS.PRINT_TICKET"></span></button>
            <button class="btn btn-link" ng-click="goState(STATES.PHONE_TO_CARD_INPUT)">{{'CARD2CARD.BUTTON_CLOSE' |
                translate}}
            </button>
        </div>
    </div>
</div>