// Import Bootstrap styles'
$icon-font-path: "~bootstrap-sass/assets/fonts/bootstrap/"
@import "~bootstrap-sass/assets/stylesheets/_bootstrap.scss"

// Import FontAwesome
$fa-font-path: "~font-awesome/fonts"
@import "~font-awesome/scss/font-awesome.scss"

// Import Notification messages styles
@import "~angular-ui-notification/dist/angular-ui-notification.css"

// Import Mixins'
@import "assets/stylesheets/mixins/index"

@import "assets/stylesheets/components/uib_tooltip"

// Misc

body
  font-size: 1rem

a
  cursor: pointer

input:invalid
  box-shadow: none

.app

  header

    .navigation-toggle
      margin-top: 15px

    .navbar-default
      background-color: #ffffff
      border: 0

    .navbar
      margin-bottom: 0

    .navigation
      margin-top: 18px

    .nav-justified

      > li
        > a
          color: #777777

    .translate
      float: left
      display: inline-block
      margin-top: 28px
      margin-left: 15px

      .item
        width: 30px

      .authorization
        .item
          margin-right: 20px

          input
            border-color: #BCD0E4
            box-shadow: 0 0 3px 0 rgba(19, 65, 103, 0.5)

        button
          text-transform: uppercase

    .mobile
      padding-right: 25px
      white-space: nowrap

      .google-play
        width: 50px

      .app-store
        width: 56px

  .color-wrap
    background-color: #FBFBFB
    border-bottom: 1px solid $border-color-entry

    .button-down
      text-align: center
      background: url('assets/images/Sprite_sendua.png') -148px -45px no-repeat
      margin: 12px auto
      width: 44px
      height: 16px

    .pci-dss, .services, .tariffs, .questions, .apps
      .title
        color: $main_color_active
        background-color: #f8f8f8
        font-size: 22px
        padding: 15px 0
        width: 100%
        border-top: 1px solid $border-color-entry
        border-bottom: 1px solid $border-color-entry
        margin-bottom: 20px

      .description
        max-width: 1024px
        margin: 0 auto

      .images
        margin-top: 10px

        &.percent
          padding-top: 130px

    .tariffs
      h3
        color: $main_color_inactive

    .questions
      .wrap
        margin-bottom: 30px

  .button-up
    position: fixed
    bottom: 10%
    right: 10%

    .button
      text-align: center
      background: url('assets/images/Sprite_sendua.png') -148px -45px no-repeat
      transform: rotate(180deg)
      float: right
      margin: 7px auto
      width: 44px
      height: 16px

  footer
    max-width: 1024px
    margin: 0 auto

    .contacts
      border-bottom: 1px solid #4c4c4c
      padding-bottom: 30px
      padding-top: 15px

      .social
        margin-bottom: 20px

        .facebook-pic, .twitter-pic
          width: 40px
          height: 30px

      .title
        color: #2f6fad
        font-size: 18px
        margin-bottom: 20px

    .support

      a
        padding: 0 10px

    .banners
      text-align: center

      img
        margin-bottom: 20px

      .visa-verified

      .visa-direct
        height: 46px
        margin: 20px 40px

      .pci
        width: 120px
        margin-right: 35px
        margin-top: 10px

      .money-send
        margin-right: 20px

      .secure-code
        width: 90px
        margin-left: 20px

.main
  background-color: #f8f8f8
  a
    text-decoration: none

  .sidebar
    text-align: center
    border-top: 1px solid #124068

    .item
      color: #124068
      text-transform: uppercase
      height: 60px

      a
        display: block
        padding: 20px 0

      &.active
        background-color: #fff
        @include box-shadow-entry
        a
          color: #F79600
          text-decoration: none

  .menu
    .item
      text-align: center
      color: #124068
      text-transform: uppercase
      height: 61px
      border-top: 1px solid
      background-color: #f8f8f8

      a
        display: block
        padding: 20px 0

      &.active
        background-color: #fff
        border-top: 1px solid #F79600

        a
          color: #F79600

  .content
    background-color: #fff

  .sub-main
    padding: 40px

.text-bold-big
  font-size: 1.2rem
  font-weight: 600

.text-bold-normal
  font-size: 0.9rem
  font-weight: 600

.text-bold-small
  font-size: 0.8rem
  font-weight: 600

.text-light-big
  font-size: 1.2rem
  font-weight: 400
  color: #4c4c4c

.text-light-normal
  font-size: 0.9rem
  font-weight: 300
  color: #4c4c4c

.text-light-small
  font-size: 0.8rem
  font-weight: 400
  color: #4c4c4c

.active
  color: #F79600 !important

.margin-normal
  margin-bottom: 20px

.margin-small
  margin-bottom: 10px

.page-height
  background-color: #ffffff
  margin-left: -15px
  margin-right: -15px

//.rocketchat-widget
//  right: 100px !important

.margin-top-normal
  margin-top: 20px

.margin-top-big
  margin-top: 30px


@media(max-width: 767px)

  html
    font-size: 14px

  .app

    header

      .logo
        float: left
        margin-left: 30px
        height: 80px

    .navigation
      margin-left: 0

    .nav-justified

      > li
        > a
          text-align: left

  .rocketchat-widget
    right: 0px !important
    width: 100%


@media(min-width: 768px)

  html
    font-size: 13px

    .app

      header

        .logo
          float: left
          margin-left: 30px
          height: 80px

      .navigation
        margin-left: 18%

  .rocketchat-widget
    right: 100px !important


@media(min-width: 992px)

  html
    font-size: 14px

    .app

      header

        .logo
          float: left
          margin-left: 70px
          height: 80px

@media(min-width: 1400px)

  html
    font-size: 16px

    .app

      header

        .logo
          float: left
          margin-left: 70px
          height: 80px