// Import Bootstrap styles'
$icon-font-path: "~bootstrap-sass/assets/fonts/bootstrap/"
@import "~bootstrap-sass/assets/stylesheets/_bootstrap.scss"

// Import FontAwesome
$fa-font-path: "~font-awesome/fonts"
@import "~font-awesome/scss/font-awesome.scss"

// Import Mixins'
@import "assets/stylesheets/mixins/index"

@import "assets/stylesheets/components/uib_tooltip"

// Misc
html
  font-size: 14px

@media (min-width: 970px)
  body
    font-size: 1rem

@media (min-width: 1400px)
  body
    font-size: 1.2rem

a
  cursor: pointer

input:invalid
  box-shadow: none

.app
  header
    .navbar-default
      background-color: #ffffff
      border: 0
    .navbar
      margin-bottom: 0
    .divider
      border-bottom: 1px solid #cccccc
      margin: 0 60px
      padding-bottom: 20px
      padding-top: 20px
      .translate
        .item
          width: 30px
      .authorization
        .item
          margin-right: 20px
          input
            border-color: #BCD0E4
            box-shadow: 0 0 3px 0 rgba(19, 65, 103, 0.5)
        button
          text-transform: uppercase
    .navigation
      margin-left: 14%

      .navbar-nav
        text-align: center
        width: 100%
      .nav
        &.navbar-nav > li
          margin-right: 2%
          float: none
          display: inline-block

  .information
    max-width: 1024px
    margin: 0 auto
    .button-down
      text-align: center
      background: url('assets/images/Sprite_sendua.png') -148px -45px no-repeat
      margin: 7px auto
      width: 44px
      height: 16px

    .services, .tariffs, .questions
      .title
        color: #2f6fad
        font-size: 22px
        margin-bottom: 40px
        padding-top: 30px

      .images
        margin-top: 10px
        margin-left: 7%

      .text
        float: left
        width: 40%
        text-align: justify
        margin-left: 10%

    .tariffs
      h3
        color: #2f6fad

    .services


    .questions
      max-width: 900px
      margin: 0 auto
      border-bottom: 1px solid #cccccc
      .wrap
        max-width: 794px
        margin: 0 auto
        margin-bottom: 30px

  .button-up
    width: 900px
    margin: 0 auto
    margin-bottom: 60px

    .button
      text-align: center
      background: url('assets/images/Sprite_sendua.png') -148px -45px no-repeat
      transform: rotate(180deg)
      float: right
      margin: 7px auto
      width: 44px
      height: 16px

  footer
    max-width: 900px
    margin: 0 auto

    .contacts
      border-bottom: 1px solid #4c4c4c
      margin-bottom: 30px
      padding-bottom: 30px

      .social

        .facebook-pic, .twitter-pic
          width: 40px
          height: 30px

      .phone


      .mail


      .title
        color: #2f6fad
        font-size: 18px
        margin-bottom: 20px
    .banners
      img
        margin-bottom: 20px
      .visa-verified
        margin-left: 5%

      .mastercard
        width: 80px

      .money-send

      .secure-code
        width: 90px
        margin-left: 20px

.main
  background-color: #BCD0E4
  a
    text-decoration: none

  .sidebar
    //position: absolute
    //width: 14%
    text-align: center
    border-top: 1px solid #124068
    //float: left

    .item
      color: #124068
      text-transform: uppercase
      padding: 20px

      &.active
        background-color: #fff
        a
          color: #F79600
          text-decoration: none

  .content
    //margin-left: 14%

  .menu
    .item
      text-align: center
      color: #124068
      text-transform: uppercase
      height: 35px
      padding-top: 7px
      padding-bottom: 10px
      border-top: 1px solid

      &.active
        background-color: #fff
        color: #F79600
        border-top: 1px solid #F79600
        a
          color: #F79600

  .sub-main
    background-color: #fff
    padding: 40px

.text-bold-big
  font-size: 1.2rem
  font-weight: 600

.text-bold-normal
  font-size: 1rem
  font-weight: 600

.text-bold-small
  font-size: 0.8rem
  font-weight: 600

.text-light-big
  font-size: 1.2rem
  font-weight: 400
  color: #4c4c4c

.text-light-normal
  font-size: 1rem
  font-weight: 300
  color: #4c4c4c

.text-light-small
  font-size: 0.8rem
  font-weight: 400
  color: #4c4c4c

.active
  color: #F79600 !important