// Import Bootstrap styles'
$icon-font-path: "~bootstrap-sass/assets/fonts/bootstrap/"
@import "~bootstrap-sass/assets/stylesheets/_bootstrap.scss"

// Import FontAwesome
$fa-font-path: "~font-awesome/fonts"
@import "~font-awesome/scss/font-awesome.scss"

// Import Notification messages styles
@import "~angular-ui-notification/dist/angular-ui-notification.css"

// Import Mixins'
@import "assets/stylesheets/mixins/index"

@import "assets/stylesheets/components/uib_tooltip"

// Misc

//html
//  font-size: 16px

body
  font-size: 1em
  font-family: 'Roboto', 'Arial', sans-serif

a
  cursor: pointer

input:invalid
  box-shadow: none

.active
  color: #F79600

.app
  width: 100%

  .top
    //min-width: 220px
    //max-width: 320px
    margin: 0
    padding: 0
    float: left
    position: fixed
    height: 100%
    z-index: 2
    //display: none



    .navigation
      margin-bottom: 20px
      //width: 100%

      .navbar-brand
        padding: 0
        height: auto
        //padding-left: 20px

        .logo-text, .logo-img
          display: inline-block

        .logo-text
          img
            width: 200%

        .logo-img
          img
            width: 100%


      .buttons
        text-align: left
        padding: 0

        button
          //height: 45px
          width: 100%
          font-size: 1em
          background-color: #395e88
          text-transform: uppercase
          border-color: #395e88

      .social, .support

        //.facebook-pic, .twitter-pic
        //  width: 40px
        //  height: 30px

        i
          color: #d8d8d8
          font-size: 2em

        i:first-child
          margin-right: 20px

        .title
          color: #ffffff
          font-size: 0.8rem
          margin-bottom: 20px


      .line-up
        border-top: 1px solid #9b9b9b
        width: 100%
        margin-bottom: 10px

      .line-up-short
        border-top: 3px solid #3e6997
        width: 15%
        margin-bottom: 10px
        display: none

      .activeline
        display: inherit


    .navigation-toggle
      margin-top: 15px

    .navbar-default
      //background-color: rgba(0, 40, 84, 0.8)
      background-color: rgba(255, 255, 255, 0)
      border: 0
      border-radius: 0
      height: 100%



    .navbar
      margin-bottom: 0

      .collapse
        margin: 0
        padding: 10px

    .navigation
      margin-top: 18px


    .activeTarifQaa
      .nav-justified
        a
          //color: #f5a623


    .nav-justified
      margin-bottom: 20px
      padding-left: 25px
      a
        text-align: left
        color: #ffffff
        text-decoration: none
        font-size: 0.75rem

      .nav-inside
        margin: 10px
        display: none

        div
          margin-bottom: 10px

        div:last-child
          margin-bottom: 0

        .active
          color: #ff9800

      .active
        color: #1a3654
        display: inherit

      .activemenu
        font-size: 1.2em

      .translate
        .active
          color: #1a3654
        a
          font-size: 0.8rem

    .translate
      float: left
      display: inline-block
      margin-top: 40px
      //margin-left: 15px

      .item
        width: 30px

      .authorization
        .item
          margin-right: 20px

          input
            border-color: #BCD0E4
            box-shadow: 0 0 3px 0 rgba(19, 65, 103, 0.5)

        button
          text-transform: uppercase

    .nav-apps
      margin-top: 260px

    .nav-apps-begin
      margin-top: 0

    .nav-translate
      margin-top: 20px

    .nav-translate-begin
      margin-top: 105px

  .mobile
    //padding-right: 25px
    //white-space: nowrap

    .google-play
      img
        width: 152px
        margin-left: -9px

    //.app-store
    //  width: 56px



  .color-wrap
    background-color: #FBFBFB
    border-bottom: 1px solid $border-color-entry
    padding: 0
    color: #ffffff

    .row
      margin: 0

    .navbar-default
      //background-color: rgba(255, 255, 255, 0)
      border: 0
      border-radius: 0
      height: 100%

      .buttons

        button
          background-color: #395e88

      .nav-justified

        a
          color: #ffffff
          mix-blend-mode: screen



    .button-down
      text-align: center
      background: url('assets/images/Sprite_sendua.png') -148px -45px no-repeat
      margin: 12px auto
      width: 44px
      height: 16px

    .pci-dss, .services, .tariffs, .questions, .apps
      .title
        color: $main_color_active
        background-color: #f8f8f8
        font-size: 1.5em
        padding: 15px 0
        width: 100%
        border-top: 1px solid $border-color-entry
        border-bottom: 1px solid $border-color-entry
        margin-bottom: 20px


      .description
        //max-width: 1024px
        margin-top: 6%


      .images
        margin-top: 10px

        &.percent
          padding-top: 130px

    .apps
      min-height: 685px
      background: url('assets/images/image_1_1.svg') center  0 no-repeat #f39c12
      h1
        font-size: 2.25rem
        font-weight: 300
      p
        font-size: 0.85rem

    .services
      min-height: 760px
      background: url('assets/images/image_1_mirror.svg') center 0 no-repeat #2980b9
      h1
        font-size: 2.25rem
        font-weight: 300
      p
        font-size: 0.85rem

    .tariffs
      h3
        //color: $main_color_inactive
        font-size: 1.1rem
        font-weight: 300

      .description
        margin: 0
        margin-top: 30px
        margin-left: 2%
        font-size: 0.8em

        .tariff-cont
          padding: 30px

          color: #000000
          //font-size: 13px
          //background-color: #ffffff
          //box-shadow: 0 1px 10px 0 rgba(0, 0, 0, 0.25)

    .questions
      background-color: #efefef
      //padding-top: 60px
      min-height: 800px
      //width: 100%

      .description
        max-width: none
        //margin: 0
        margin-top: 30px
        margin-left: 3%
        font-size: 0.8em
        //width: 100%

      .wrap
        a
          text-decoration: none
          font-weight: 300

          &.active-link
            color: #3e6997

        .icon-ask
          width: 16px
          height: 19px
          background: url('assets/images/arrows.png') 0 5px no-repeat
          float: left


          &.active
            background-position: -35px 5px

        .wrap-link
          color: #000000
          font-size: 1.2em
          float: left




        div
          color: #000000
          background-color: #efefef
          border: none


        .panel
          border: none
          box-shadow: none

    .pci-dss
      background-color: #2980b9
      min-height: 800px
      .description
        max-width: none
        margin-top: 7%
        padding-right: 5%



        h1
          font-size: 2.25rem
          font-weight: 300


        .pci-dss-text
          color: #ffffff
          //margin-left: 25%
          width: 75%




        .pci-dss-logo
          //margin-right: -20%
          text-align: right

          img
            width: 20%



  .button-up
    position: fixed
    bottom: 10%
    right: 10%

    .button
      text-align: center
      background: url('assets/images/Sprite_sendua.png') -148px -45px no-repeat
      transform: rotate(180deg)
      float: right
      margin: 7px auto
      width: 44px
      height: 16px

  footer
    //max-width: 1024px
    margin: 0 auto
    background-color: #ededed



    .contacts
      border-bottom: 1px solid #4c4c4c
      padding-bottom: 30px
      padding-top: 15px

      .social
        margin-bottom: 20px

        .facebook-pic, .twitter-pic
          width: 40px
          height: 30px

      .title
        color: #2f6fad
        font-size: 1.2em
        margin-bottom: 20px

    .support

      a
        padding: 0 10px

    .banners
      text-align: center

      img
        margin-bottom: 20px

      .visa-direct
        height: 46px
        margin: 20px 40px

      .pci
        width: 120px
        margin-right: 35px
        margin-top: 10px

      .money-send
        margin-right: 20px

      .secure-code
        width: 90px
        margin-left: 20px

  .main-left
    height: 820px
    //background-color: rgba(0, 40, 84, 0.8)
    background-color: #2980b9
    float: left




  .questions
    .main-left
      //background-color: rgba(0, 40, 84, 0.8)
      background-image: linear-gradient(339deg, #f79601, #ffb23a 100%)



  .main
    background-color: #fff
    //width: 83%
    a
      text-decoration: none

    .cont-begin
      background: url('assets/images/image_1.svg') center 254px no-repeat #2980b9
      min-height: 800px
      padding-top: 70px

      .logo
        //margin-left: 30%

        .logo-img
          //width: 50%
          float: left
          margin-right: 35px
          img
            //width: 200px
            margin-bottom: 40px

        .logo-text
          //width: 50%
          float: left
          img
            //width: 300px
            margin-bottom: 10px

          .text-logo
            //width: 300px
            color: #cfcfcf
            font-size: 1.1rem
            font-weight: 300

      .cont-input
        opacity: 0.94
        padding: 15px
        text-align: center

        .begin-label
          font-size: 2.5rem
          color: #00316a
          font-weight: 300

        .begin-label-small
          color: #f79601
          line-height: 5
          margin-left: -10px
          margin-right: 10px

        .begin-label-small-line
          border-bottom: 1px solid #cfcfcf

        .buttons
          margin-bottom: 15px
          button
            font-size: 0.75rem
            background-color: #f79601
            font-weight: 600

          .btn[disabled]
            background-color: #d7dde4
            border: solid 1px #d7dde4
            opacity: 1



        //.source-input
        //  //input
        //  //  text-align: center
        //  //  background-color: inherit
        //  //  //border: none
        //  //  //border-bottom: 1px solid #cfcfcf


        .c2c-cont
          text-align: center
          margin: 0 auto

          .source-input-begin
            //margin-bottom: 10px


          .amount-input-begin-right
            float: left
            width: 40%
            padding-left: 10px
            margin-bottom: 0
            button
              width: 100%

            .btn
              padding: 6px 0
              text-align: center
              background-color: #f79601

            .btn[disabled]
              background-color: #d7dde4
              border: solid 1px #d7dde4
              opacity: 1

          .amount-input-begin-left
            float: left
            width: 60%
            padding-right: 10px


        .crossboard-text
          font-size: 0.75rem
          .text
            font-size: 0.75rem

    .sidebar
      text-align: center
      border-top: 1px solid #124068

      .item
        color: #124068
        text-transform: uppercase
        height: 60px

        a
          display: block
          padding: 20px 0

        &.active
          background-color: #fff
          @include box-shadow-entry
          a
            color: #F79600
            text-decoration: none

    .menu
      border-bottom: 1px solid #9b9b9b

      .item
        //text-align: center
        color: #777777
        text-transform: uppercase
        padding-left: 5px
        a
          display: inline-block
          padding: 20px 0
          color: #777777

        &.active
          background-color: #fff
          //border-bottom: 2px solid #F79600

          a
            color: #f79601
            border-bottom: 2px solid #f79601

    .content
      display: block
      width: 100%
      background-color: #fff


.text-bold-big
  font-size: 1.2rem
  font-weight: 600

.text-bold-normal
  font-size: 0.9rem
  font-weight: 600

.text-bold-small
  font-size: 0.8rem
  font-weight: 600

.text-light-big
  font-size: 1.2rem
  font-weight: 400
  color: #4c4c4c

.text-light-normal
  font-size: 0.9rem
  font-weight: 300
  color: #4c4c4c

.text-light-small
  font-size: 0.8rem
  font-weight: 400
  color: #4c4c4c



.margin-normal
  margin-bottom: 20px

.margin-small
  margin-bottom: 10px

.page-height
  background-color: #ffffff
  margin-left: -15px
  margin-right: -15px

//.rocketchat-widget
//  right: 100px !important

.margin-top-normal
  margin-top: 20px

.margin-top-big
  margin-top: 30px

.btn[disabled]
  background-color: #d7dde4
  border: solid 1px #d7dde4

.pci-dss-img-right
  margin-left: 25px

.cont-services, .cont-apps
  margin: 0 35px
.cont-apps
  .images
    width: 400px

@media(max-width: 767px)

  html
    font-size: 12px

    .cont-begin
      .logo
        display: none

        .logo-img
          img
            width: 200px

        .logo-text
          img
            width: 300px

          .text-logo
            width: 300px

      .cont-input
        width: 300px
        margin: 0 auto
        background-color: transparent
        box-shadow: none
        padding: 15px

        .buttons
          button
            width: 245px

        .begin-row
          margin-left: 15px
          .begin-label-small-line
            display: none
            height: 45px
            width: 35%

        .crossboard-text
          .text
            //color: #777777

      .c2c-cont
        width: 245px

        .source-input-begin
          input
            text-align: center
            font-size: 1rem
            height: 28px

        .amount-input-begin-left
          input
            text-align: center
            font-size: 1rem
            height: 28px

    .cont-begin-input-right
      margin-left: 0

    .top
      display: none

    .footer-mobile
      width: 100%
      margin-bottom: 35px
      text-align: center

      .icon
        margin: 0 10px
      i
        font-size: 2rem
        margin-right: 10px
        padding-left: 10px

    .menu-mobile
      background-color: #2980b9

      .menu-mobile-input
        width: 300px

        padding: 10px
        margin: 0 auto
        .cont-mobile
          float: left

          .logo-size
            float: left
            margin-right: 10px

          .logo-img
            img
              width: 50px

          .logo-text
            margin-top: 10px
            img
              width: 100px

        .cont-mobile-right
          width: 39%

          .translate
            text-align: right
            width: 115%
            margin-top: 20px

            a
              color: #ffffff
            .active
              color: #1a3654


    .navigation
      width: 50%
      .buttons
        button
          height: 35px

      .logo-size
        width: 32%

    .pci-dss-text-all
      margin-left: 10px

    .pci-dss
      .description
        padding-left: 5px

      .pci-dss-img
        padding-left: 10px


    .main-left
      display: none

    .main-right
      width: 300px
      margin: 0 auto
      float: none

    .desc-margin
      padding-left: 5px




  .rocketchat-widget
    right: 0px !important
    width: 200px !important
    margin-left: 10%


@media(min-width: 768px)

  html
    font-size: 12px

    .top
      width: 200px
      //.nav-justified
      //  a
      //    font-size: 10px

    .footer-mobile
      display: none

    .menu-mobile
      display: none

    .navigation
      width: 100%
      .buttons
        button
          //height: 25px

      .logo-size
        width: 32%

    .pci-dss-text-all
      margin-left: 32px

    .pci-dss
      .pci-dss-img
        padding-left: 145px


    .main-left
      width: 200px

    .main-right
      width: 553px
      float: left

    .desc-margin
      padding-left: 200px

    .cont-begin
      .logo
        margin-left: 30%

        .logo-img
          img
            width: 100px

        .logo-text
          img
            width: 200px

          .text-logo
            width: 200px

      .cont-input
        width: 520px
        margin-left: 30%
        background-color: #ffffff
        box-shadow: 0 3px 15px 0 rgba(0, 0, 0, 0.25)

        .buttons
          button
            width: 185px

        .begin-row
          margin-left: 25px
          .begin-label-small-line
            height: 35px
            width: 30%

        .crossboard-text
          .text
            color: #777777

      .c2c-cont
        width: 185px

        .source-input-begin
          input
            text-align: center
            font-size: 1rem
            height: 28px

        .amount-input-begin-left
          input
            text-align: center
            font-size: 1rem
            height: 28px
    .cont-begin-input-right
      margin-left: -40px

  .rocketchat-widget
    right: 100px !important


@media(min-width: 1024px)

  html
    font-size: 14px

    .top
      width: 240px
      //.nav-justified
      //  a
      //    font-size: 12px

    .navigation
      //width: 73%

      .logo-size
        width: 42%


      .buttons
        button
          //height: 35px

    .main-left
      width: 240px

    .main-right
      width: 760px

    .desc-margin
      padding-left: 180px

    .pci-dss-text-all
      margin-left: 100px

    .pci-dss
      .pci-dss-img
        padding-left: 235px

    .cont-begin
      .logo
        margin-left: 30%

        .logo-img
          img
            width: 100px

        .logo-text
          img
            width: 200px

          .text-logo
            width: 200px

      .cont-input
        width: 655px
        margin-left: 30%

        .buttons
          button
            width: 245px

        .begin-row
          margin-left: 11px
          .begin-label-small-line
            height: 40px
            width: 41%

      .c2c-cont
        width: 245px

        .source-input-begin
          input
            height: 30px

        .amount-input-begin-left
          input
            height: 30px

    .cont-begin-input-right
      margin-left: -15px

@media(min-width: 1280px)

  html
    font-size: 16px

    .top
      width: 320px

    .navigation
      //width: 100%
      .buttons
        button
          height: 45px

    .main-left
      width: 320px

    .main-right
      width: 945px

    .desc-margin
      padding-left: 320px

    .pci-dss-text-all
      margin-left: 45px

    .pci-dss
      .pci-dss-img
        padding-left: 200px



    .cont-begin
      .cont-input
        .begin-row
          margin-left: 15px

          .begin-label-small-line
            height: 45px

