.state-error
  margin: 0 auto
  max-width: 440px
  min-height: 315px
  border-radius: 10px
  padding: 5px 30px
  border: 2px solid #f0ad4e

  .title
    display: block
    font-size: 1.7em
    padding-top: 10px
    margin-bottom: 20px
    color: #BB1D1A
    text-transform: uppercase

  .code-title
    font-size: 1.4em
    margin-bottom: 5px

  .operation-number
    font-size: 1.1em

  .operation-status
    font-size: 1.1em
    margin-bottom: 20px

  .phone-title
    font-size: 1.3em

  .phone-number
    margin-bottom: 100px
    font-size: 1.3em
