.state-input
  margin: 0 auto
  max-width: 385px
  border-radius: 10px
  padding: 20px 25px
  border: 2px solid #f0ad4e

  label
    color: $main_color_inactive
    font-size: 12px
    font-weight: 500
    margin-bottom: 0

  .get-link
    margin-top: 10px
    text-transform: uppercase

.error-number
  height: 15px
  line-height: 15px

.error-amount
  height: 15px
  line-height: 15px