.state-lookup

  .send-form
    margin: 0 auto
    max-width: 385px
    border-radius: 10px
    padding: 40px 15px
    text-align: justify
    border: 2px solid #f0ad4e
    margin-bottom: 30px

    label
      color: $main_color_inactive
      font-size: 12px
      font-weight: 500
      margin-bottom: 0

    .input-group-addon:hover
      background-color: #cccccc

  .buttons
    max-width: 340px
    margin: 0 auto
    padding: 0 40px 0 45px

    .send
      text-transform: uppercase

    .close-link
      line-height: 30px
      margin-right: 5px