.state-error
  margin: 0 auto
  max-width: 440px
  border-radius: 10px
  padding: 20px 25px
  border: 2px solid #f0ad4e
  text-align: center

  .title
    display: block
    font-size: 1.7em
    padding-top: 10px
    margin-bottom: 20px
    color: #BB1D1A
    text-transform: uppercase

  .code-title
    font-size: 1.4em

  .status-title
    font-size: 1.4rem

  .operation-number
    font-size: 1.1em

  .operation-status
    font-size: 1.1em
    margin-bottom: 20px

  .phone-title
    font-size: 1.3em

  .phone-number
    font-size: 1.3em
    margin-bottom: 20px

  .text-title
    font-size: 1.0em
    text-align: left