@media (min-width: 1024px)
  .state-input
    .card
      input
        height: 30px
        font-size: 14px
      .card-logo
        &.mastercard
          margin-top: 8px !important
          width: 49px !important
          height: 29px !important
        &.visa
          margin-top: 16px !important
      &.source
        .cvv
          width: 75px !important

@media (min-width: 1400px)
  .state-input
    .card
      input
          height: 45px
          font-size: 20px
      .card-logo
        &.mastercard
          margin-top: 8px !important
          width: 49px !important
          height: 29px !important
        &.visa
          margin-top: 16px !important
      &.source
        .cvv
          width: 95px !important
          .form-control-feedback
            line-height: 46px !important





.state-input

  .has-feedback
    span
      color: #4c4c4c

  .has-feedback .form-control
    padding-right: 10px

  .play
    position: absolute
    font-size: 3em
    left: 48%
    margin-top: 85px

  .title
    text-align: center
    font-size: 25px
    font-weight: normal
    margin-bottom: 30px

  .card
    border-radius: 10px
    color: #003366
    padding: 4% 7%
    margin-bottom: 25px

    .form-control-feedback
      pointer-events: all
      cursor: pointer

    &.source, &.target
      .card-logo
        background-size: cover
        background-repeat: no-repeat
        position: absolute
        display: block

        &.visa
          background-image: url(./images/visa_logo.svg)
          display: block
          width: 50px
          height: 16px
          right: 60px
          margin-top: 7px

        &.mastercard
          background-image: url(./images/masterCard_logo.svg)
          display: block
          width: 39px
          height: 23px
          right: 60px
          margin-top: 3px

    .form-group
      margin-bottom: 0

    label
      font-size: 12px
      font-weight: 500
      margin-bottom: 0

    &.target
      border: 2px solid #f0ad4e
      padding-top: 77px

    &.source
      border: 2px solid #000080

      .card-data
        margin-top: 35px

        .cod
          float: right
          margin-right: 49px

      .expire
        float: left
        clear: both
        position: relative

        .date
          display: inline-block
          float: left
          margin-right: 5px
          width: 60px

      .cvv
        display: inline-block
        float: right
        width: 75px

  .amount

    .title
      margin-bottom: 0

  .total-amount
    margin-bottom: 22px

    .send

      .checkbox
        margin-bottom: 0

      .buttons
        margin-top: 25px

  .description
    width: 40%
    margin: 30px auto

    .commission
      padding: 10px 0

    .text
      padding: 10px 0

  .error-number, .error-date, .error-cvc, .error-phone, .error-amount, .error-target, .error-agreed
    height: 15px
    line-height: 15px
    color: #d9534f
    font-size: 12px

