.state-input

  .popup-height
    min-height: 590px

  .crossboard-text
    text-align: center
    margin-bottom: 10px

    .text
      position: relative
      color: #3f6184
      a
        color: #fac878

    .crossboard-blink
      color: red
      //a
      //  color: red

  .popup
    position: absolute
    border: 1px solid #fac878
    border-radius: 10px
    background: #ffffff
    text-align: left
    z-index: 1000
    padding: 5px
    font-size: 14px
    //overflow: auto

    .popup-table
      margin-bottom: 10px

    td
      padding-left: 5px

    .two-td
      padding-left: 10px

  .popupCross
    position: absolute
    //min-height: 100px
    border: 1px solid #d9534f
    //border-radius: 10px
    background: #d9534f
    text-align: left
    z-index: 1000
    font-size: 14px
    color: #ffffff
    padding: 5px
    box-shadow: 5px 5px 5px #dbdbdb

    .icon-close
      position: absolute
      right: 1px
      top: 1px







  .row
    position: relative
    margin: 0
    padding: 20px

  .row-crossboard
    position: relative
    //z-index: 1
    //top: -13px
    //background-color: white
    height: 0px
    .form-group
      margin-bottom: 0px

  .has-feedback
    span
      color: #4c4c4c
      font-size: 1rem

  .has-feedback .form-control
    padding-right: 10px

  .play
    position: absolute
    font-size: 3em
    left: 48%
    margin-top: 7%

  .title
    text-align: center
    font-size: 25px
    font-weight: normal
    margin-bottom: 30px

  .card
    //margin: 0
    padding: 10px
    //border-radius: 10px
    //color: $main_color_inactive
    //padding: 6% 7%
    margin-bottom: 10px
    //border: 1px solid #9b9b9b
    border-radius: 3px
    width: 50%


    .form-control-feedback
      pointer-events: all
      cursor: pointer

    &.source, &.target
      .card-logo
        background-size: cover
        background-repeat: no-repeat
        position: absolute
        display: block

        &.visa
          background-image: url(./images/visa_logo.svg)
          display: block

        &.mastercard
          background-image: url(./images/masterCard_logo.svg)
          display: block

    .form-group
      margin-bottom: 0



    label
      font-size: 1rem
      font-weight: 500
      margin-bottom: 0

    &.target
      //border: 2px solid #f0ad4e
      padding-right: 10px
      border-left: none
      float: right
      box-shadow: 4px 1px 10px 0 rgba(0, 0, 0, 0.25)


    &.source
      //border: 1px solid #9b9b9b
      background-color: #ededed
      padding-left: 10px
      border-right: none
      float: left
      box-shadow: -4px 1px 10px 0 rgba(0, 0, 0, 0.25)
      //margin-left: 10px

      .source-input
        width: 80%
        float: left

      .card-data
        margin-top: 35px

        .cod
          float: right
          margin-right: 49px

      .expire
        float: right
        width: 20%
        //clear: both
        //position: relative

        .date
          //display: inline-block
          //float: left
          //margin-right: 5px
          width: 50%


          input
            //width: 50%
            border-radius: 0

        .date:first-child
          float: left
          input
            border-right: none



        .date:last-child
          float: right
          input
            border-left: none



      .cvv
        //display: inline-block
        //float: right
        width: 75px

  .amount

    .amount-input-currency
      padding: 0

    .amount-input-c2c
      width: 100%
      margin-right: 7px


    .amount-buttons-field-c2c

      a
        color: #989898
      &active
        color: #a0b2c4

      .amount-buttons-c2c, .amount-buttons-c2c-eur
        padding: 10px 5px
        text-decoration: none


      .activeCurrency
        color: #23527c

      .amount-buttons-c2c
      //margin-right: 5px
      //padding-left: 5px

      .amount-buttons-c2c-eur
  //text-align: left
  //padding-left: 10px



  .total-amount
    margin-bottom: 22px

    .text-exchange, .text-target-amount
      font-weight: bold



    .send

      .checkbox
        margin-bottom: 0

      .buttons
  //margin-top: 54px


  .tariffs
    margin-bottom: 20px
    font-size: 14px
    //margin-left: 5px

    .text-commiss
      font-weight: 300
    //padding-top: 40px

    .text-bank
      font-weight: 100

  .description
    width: 40%
    margin: 30px auto

    .commission
      padding: 10px 0

    .text
      padding: 10px 0

  .caret-c2c
    text-align: center
    width: 285px


    .caret-c2c-block
      text-align: left
      position: relative
      top: -48px
      left: 40px


      i
        color: #bbd0e3
        display: inline-block
        float: left

      .text-line-crossboard
        position: relative
        top: 4px
        //font-size: 16px
        color: #f0ad4e
        padding-left: 17px
        margin-left: 5px

        .text-line-crossboard1
        //position: relative
        //top: -8px
        //font-size: 14px
        //color: #f0ad4e
        //padding-left: 10px

        .text-line-crossboard2
          //position: relative
          //top: -8px
          //font-size: 14px
          color: #ff7d79
  //padding-left: 10px

  .line-crossboard
    color: #bbd0e3
    background-color: #bbd0e3
    height: 1px
    border-top: 0px
    position: relative
    top: -5px


  .field-data
    position: relative
    top: -90px

    .test
      padding-left: 0
      padding-top: 5px

    .crossboard-right, .crossboard-left
      //.data-input
      //  margin-bottom: 0px

      .crossboard-left-field, .crossboard-right-field




      .crossboard-right-field
        position: absolute
        right: 0px


      .crossboard-left-field
        position: relative
        left: 0px

      .text-data-cross
        margin-bottom: 5px

      //.data-input
      //  margin-bottom: 5px

  .error-number, .error-date, .error-cvc, .error-phone, .error-amount, .error-target, .error-agreed
    height: 15px
    line-height: 15px
    color: #d9534f
    font-size: 12px

  .error-block
    position: absolute
    top: 12px
    left: 324px
    color: #34495e
    font-size: 13px
    background: #ffffff
    width: 220px
    height: 45px
    border-radius: 4px
    padding: 5px
    border: 1px solid red

    .arrow-num
      top: -55px
      left: -16px
      font-size: 16px
      position: relative
//color: #ffffff


@media (max-width: 320px)

  .state-input

    //.popup
    //  width: 30%
    //  margin-left: 60%

    .popup-desktop-1200
      display: none

    .popup-desktop-768
      display: none

    .row-crossboard
      top: -1270px

      .text-line-crossboard
        font-size: 12px

      .cross-right
        top: 500px

    .caret-c2c
      margin-left: -23%
      margin-right: 30%
      margin-bottom: 40px

      .caret-c2c-block
        margin-bottom: 35px

    .cross-card-left
      margin-bottom: 400px
    .cross-card-right
      margin-bottom: 160px

    .crossboard-left-field, .crossboard-right-field
      //width: 68%


    .card
      padding-bottom: 10px

      input
        height: 40px
        font-size: 1.2rem

      label
        font-size: 1.2rem

      &.source

        .cvv
          width: 90px

      .card-logo

        &.mastercard
          width: 49px
          height: 29px
          right: 50px
          margin-top: 5px

        &.visa
          width: 58px
          height: 18px
          right: 50px
          margin-top: 11px

      .tooltip
        .tooltip-inner
          width: 300px
          padding: 5px


        &.tooltip.right
          top: -63px !important
          left: -133px !important

          .tooltip-arrow
            display: none

    .has-feedback

      span
        font-size: 1.2rem

      .form-control-feedback
        margin-top: 3px
        width: 34px
        height: 34px
        right: 0
        line-height: 34px

    .tariffs
      padding-top: 0
      margin-bottom: 20px

    .phone

      .tooltip
        .tooltip-inner
          width: 300px
          padding: 5px


        &.tooltip.right
          top: -21px !important
          left: 72px !important

          .tooltip-arrow
            display: none

@media (min-width: 321px)
  .state-input

    //.popup
    //  width: 30%
    //  margin-left: 60%

    .popup-desktop-1200
      display: none

    .popup-desktop-768
      display: none

    .row-crossboard
      top: -1200px

      .text-line-crossboard
        font-size: 12px

      .cross-right
        top: 470px

    .crossboard-left-field, .crossboard-right-field
      //width: 68%

    .caret-c2c
      margin-left: -12%
      margin-right: 30%
      margin-bottom: 40px

      .caret-c2c-block
        margin-bottom: 35px

    .cross-card-left
      margin-bottom: 400px
    .cross-card-right
      margin-bottom: 160px





    .crossboard-text
//height: 120px



@media (min-width: 361px)

  .state-input

    .cross-right
      top: 485px

    .caret-c2c
      margin-left: 0%
      margin-right: 30%
      margin-bottom: 0px


    .card
      padding-bottom: 10px

      input
        height: 40px
        font-size: 1.2rem

      label
        font-size: 1.2rem

      &.source

        .cvv
          width: 90px

      .card-logo

        &.mastercard
          width: 49px
          height: 29px
          right: 50px
          margin-top: 5px

        &.visa
          width: 58px
          height: 18px
          right: 50px
          margin-top: 11px

      .tooltip
        .tooltip-inner
          width: 300px
          padding: 5px


        &.tooltip.right
          top: -63px !important
          left: -133px !important

          .tooltip-arrow
            display: none

    .has-feedback

      span
        font-size: 1.2rem

      .form-control-feedback
        margin-top: 3px
        width: 34px
        height: 34px
        right: 0
        line-height: 34px

    .tariffs
      padding-top: 0
      margin-bottom: 20px

    .phone

      .tooltip
        .tooltip-inner
          width: 300px
          padding: 5px


        &.tooltip.right
          top: -21px !important
          left: 72px !important

          .tooltip-arrow
            display: none

@media (min-width: 376px)
  .state-input

    .row-crossboard
      top: -1170px

      .cross-right
        top: 505px

    .cross-card-left
      margin-bottom: 400px
    .cross-card-right
      margin-bottom: 130px

@media (min-width: 568px)
  .state-input

    .row-crossboard
      top: -1260px

      .cross-right
        top: 610px

@media (min-width: 640px)
  .state-input

    .row-crossboard
      top: -1305px

      .cross-right
        top: 650px

@media (min-width: 667px)
  .state-input

    .row-crossboard
      top: -1315px

      .cross-right
        top: 660px

@media (min-width: 732px)
  .state-input

    .row-crossboard
      top: -1360px

      .cross-right
        top: 705px



@media (min-width: 768px)
  .state-input

    .popup
      width: 50%
      margin-left: 25%

    .popupCross
      position: fixed
      width: 25%
      right: 5%
      top: 5px




    .popup-mobile
      display: none

    .popup-desktop-1200
      display: none

    .popup-desktop-768
      display: table-cell

      //.text-country
      //  margin-left: 33%

    .row-crossboard
      top: -13px

      .text-line-crossboard
        font-size: 16px

      .cross-right
        top: 0px

    .caret-c2c
      margin-left: 22%
      margin-right: 30%

      .caret-c2c-block
        margin-bottom: 0px

    .cross-card-left, .cross-card-right
      margin-bottom: 0px


    .crossboard-left, .crossboard-right
      margin-bottom: 0px


    .crossboard-left-field, .crossboard-right-field
      width: 68%

    .card

      label
        font-size: 1rem

      input
        height: 34px
        font-size: 1.1rem

      .card-logo

        &.mastercard
          width: 42px
          height: 25px
          right: 50px
          margin-top: 4px

        &.visa
          width: 58px
          height: 18px
          right: 50px
          margin-top: 8px

      &.source
        .cvv
          width: 80px

      .has-feedback

        .form-control-feedback
          top: -3px
          line-height: 42px
          height: 41px


@media (min-width: 1024px)
  .state-input

    //.caret-c2c
    //  margin-left: 30%
    //  margin-right: 30%

@media (min-width: 1200px)
  .state-input

    //.popup
    //  width: 29%
    //  margin-left: 35%



    .popup-desktop-1200
      display: table-cell

    .popup-desktop-768
      display: none

    .caret-c2c
      margin-left: 30%
      margin-right: 30%

    .card


      label
        font-size: 0.9rem

      input
        height: 30px
        font-size: 14px

      .card-logo

        &.mastercard
          margin-top: 3px
          width: 37px
          height: 23px
          right: 43px

        &.visa
          margin-top: 8px
          width: 44px
          height: 14px
          right: 45px

      &.source

        .cvv
          width: 75px

    .has-feedback

      span
        font-size: 0.8rem

      .form-control-feedback
        margin-top: -3px
        width: 32px
        height: 32px
        right: -3px
        line-height: 31px


@media (min-width: 1440px)

  .state-input

    //.popup
    //  width: 30%
    //  //margin-left: 35%

    .crossboard-text
    //height: 40px

    .card


      label
        font-size: 1rem

      input
        height: 40px
        font-size: 1.2rem

      .card-logo

        &.mastercard
          width: 49px
          height: 29px
          right: 60px
          margin-top: 5px

        &.visa
          width: 58px
          height: 18px
          right: 56px
          margin-top: 11px

      &.source

        .cvv
          width: 95px

      .has-feedback

        span
          font-size: 1rem

        .form-control-feedback
          width: 34px
          height: 40px
          right: 0
          top: 4px
          line-height: 40px

    .amount, .phone

      input
        height: 40px
        font-size: 16px



    .buttons

      button
        height: 45px
        font-size: 16px




//.state-input
//
//  .crossboard-text
//    text-align: center
//    margin-bottom: 10px
//
//    .text
//      position: relative
//      color: #3f6184
//      a
//        color: #fac878
//
//  .row
//    position: relative
//
//  .row-crossboard
//    position: relative
//    height: 0px
//
//
//    .form-group
//      margin-bottom: 0px
//
//  .has-feedback
//    span
//      color: #4c4c4c
//      font-size: 1rem
//
//  .has-feedback .form-control
//    padding-right: 10px
//
//  .play
//    position: absolute
//    font-size: 3em
//    left: 48%
//    margin-top: 7%
//
//  .title
//    text-align: center
//    font-size: 25px
//    font-weight: normal
//    margin-bottom: 30px
//
//
//
//  .card
//    border-radius: 10px
//    color: $main_color_inactive
//    padding: 6% 7%
//    margin-bottom: 10px
//
//
//
//    .form-control-feedback
//      pointer-events: all
//      cursor: pointer
//
//    &.source, &.target
//      .card-logo
//        background-size: cover
//        background-repeat: no-repeat
//        position: absolute
//        display: block
//
//        &.visa
//          background-image: url(./images/visa_logo.svg)
//          display: block
//
//        &.mastercard
//          background-image: url(./images/masterCard_logo.svg)
//          display: block
//
//    .form-group
//      margin-bottom: 0
//
//    label
//      font-size: 1rem
//      font-weight: 500
//      margin-bottom: 0
//
//    &.target
//      border: 2px solid #f0ad4e
//
//    &.source
//      border: 2px solid #000080
//
//      .card-data
//        margin-top: 35px
//
//        .cod
//          float: right
//          margin-right: 49px
//
//      .expire
//        float: left
//        clear: both
//        position: relative
//
//        .date
//          display: inline-block
//          float: left
//          margin-right: 5px
//          width: 60px
//
//      .cvv
//        display: inline-block
//        float: right
//        width: 75px
//
//
//
//  .amount
//
//    .amount-input-currency
//      padding: 0
//
//    .amount-input-c2c
//      width: 100%
//      margin-right: 7px
//
//
//    .amount-buttons-field-c2c
//
//      a
//        color: #989898
//      &active
//        color: #a0b2c4
//
//      .amount-buttons-c2c, .amount-buttons-c2c-eur
//        padding: 10px 5px
//        text-decoration: none
//
//
//      .activeCurrency
//        color: #23527c
//
//      .amount-buttons-c2c
//        //margin-right: 5px
//        //padding-left: 5px
//
//      .amount-buttons-c2c-eur
//        //text-align: left
//        //padding-left: 10px
//
//
//
//  .total-amount
//    margin-bottom: 66px
//
//    .text-exchange, .text-target-amount
//      font-weight: bold
//
//
//
//    .send
//
//      .checkbox
//        margin-bottom: 0px
//
//      //.buttons
//      //  margin-top: 45px
//
//
//  .tariffs
//    margin-bottom: 20px
//    font-size: 14px
//    //margin-left: 5px
//
//    .text-commiss
//      font-weight: 300
//      //padding-top: 40px
//
//    .text-bank
//      font-weight: 100
//
//  .description
//    width: 40%
//    margin: 30px auto
//
//    .commission
//      padding: 10px 0
//
//    .text
//      padding: 10px 0
//
//  .caret-c2c
//    text-align: center
//    width: 285px
//    margin-left: 30%
//
//    .caret-c2c-block
//      text-align: left
//      position: relative
//      top: -48px
//      left: 40px
//
//      i
//        color: #bbd0e3
//        display: inline-block
//        float: left
//
//      .text-line-crossboard
//        position: relative
//        top: 4px
//        font-size: 16px
//        color: #f0ad4e
//        padding-left: 17px
//        margin-left: 5px
//
//        .text-line-crossboard1
//          //position: relative
//          //top: -8px
//          //font-size: 14px
//          //color: #f0ad4e
//          //padding-left: 10px
//
//        .text-line-crossboard2
//          //position: relative
//          //top: -8px
//          //font-size: 14px
//          color: #ff7d79
//          //padding-left: 10px
//
//  .line-crossboard
//    color: #bbd0e3
//    background-color: #bbd0e3
//    height: 1px
//    border-top: 0px
//    position: relative
//    top: -5px
//
//
//  .field-data
//    position: relative
//    text-align: left
//    //top: -90px
//
//    .cross-left
//      left: -15px
//
//    .cross-right
//      right: 0
//
//    .test-left, .test-right
//      padding-left: 0
//      padding-top: 5px
//      //width: 77%
//
//    .test-left
//      margin-left: 0
//
//
//
//
//
//
//    .crossboard-right, .crossboard-left
//      margin-bottom: 0
//
//      .form-group
//        margin-bottom: 0
//
//
//
//      .crossboard-left-field, .crossboard-right-field
//        width: 100%
//        //$width: 68%
//
//
//      .crossboard-right-field
//        position: absolute
//        right: 0px
//
//
//      .crossboard-left-field
//        position: relative
//        left: 0px
//
//      .text-data-cross
//        margin-bottom: 5px
//
//      //.data-input
//      //  margin-bottom: 5px
//
//  .error-number, .error-date, .error-cvc, .error-phone, .error-amount, .error-target, .error-agreed
//    height: 15px
//    line-height: 15px
//    color: #d9534f
//    font-size: 12px
//
//  .error-block
//    position: absolute
//    top: 12px
//    left: 324px
//    color: #34495e
//    font-size: 13px
//    background: #ffffff
//    width: 220px
//    height: 45px
//    border-radius: 4px
//    padding: 5px
//    border: 1px solid red
//
//    .arrow-num
//      top: -55px
//      left: -16px
//      font-size: 16px
//      position: relative
//      //color: #ffffff
//
//
////@media (max-width: 460px)
////  .row-crossboard
////    top: -375px
//
//
//@media (max-width: 320px)
//
//  .state-input
//    //height: 1650px
//
//
//    .cross-card-left
//      margin-bottom: 500px
//
//    .cross-card-right
//      margin-bottom: 100px
//
//    .crossboard-text
//    //height: 120px
//
//    .row-crossboard
//      top: -920px
//
//    .caret-c2c
//      margin-left: -23%
//      height: 0px
//      .caret-c2c-block
//        top: -48px
//
//    .adapt-amount
//      margin-bottom: 40px
//
//    .test-left, .test-right
//      width: 100%
//
//    //.send
//    //  margin-top: 120px
//
//    //.cross-right
//    //  top: -300px
//
//    .card
//      padding-bottom: 10px
//
//      input
//        height: 40px
//        font-size: 1.2rem
//
//      label
//        font-size: 1.2rem
//
//      &.source
//
//        .cvv
//          width: 90px
//
//      .card-logo
//
//        &.mastercard
//          width: 49px
//          height: 29px
//          right: 50px
//          margin-top: 5px
//
//        &.visa
//          width: 58px
//          height: 18px
//          right: 50px
//          margin-top: 11px
//
//      .tooltip
//        .tooltip-inner
//          width: 300px
//          padding: 5px
//
//
//        &.tooltip.right
//          top: -63px !important
//          left: -133px !important
//
//          .tooltip-arrow
//            display: none
//
//    .has-feedback
//
//      span
//        font-size: 1.2rem
//
//      .form-control-feedback
//        margin-top: 3px
//        width: 34px
//        height: 34px
//        right: 0
//        line-height: 34px
//
//    .tariffs
//      padding-top: 0
//      margin-bottom: 20px
//
//    .phone
//
//      .tooltip
//        .tooltip-inner
//          width: 300px
//          padding: 5px
//
//
//        &.tooltip.right
//          top: -21px !important
//          left: 72px !important
//
//          .tooltip-arrow
//            display: none
//
//
//
//
//
//@media (min-width: 321px)
//
//  .state-input
//    //height: 1650px
//
//    .cross-card-left
//      margin-bottom: 500px
//
//    .cross-card-right
//      margin-bottom: 100px
//
//    .crossboard-text
//      //height: 120px
//
//    .row-crossboard
//      top: -900px
//
//    .caret-c2c
//      margin-left: -10%
//      height: 0px
//
//
//    .adapt-amount
//      margin-bottom: 35px
//
//    //.send
//    //  margin-top: 120px
//
//    //.cross-right
//    //  top: -280px
//
//
//    .card
//      padding-bottom: 10px
//
//      input
//        height: 40px
//        font-size: 1.2rem
//
//      label
//        font-size: 1.2rem
//
//      &.source
//
//        .cvv
//          width: 90px
//
//      .card-logo
//
//        &.mastercard
//          width: 49px
//          height: 29px
//          right: 50px
//          margin-top: 5px
//
//        &.visa
//          width: 58px
//          height: 18px
//          right: 50px
//          margin-top: 11px
//
//      .tooltip
//        .tooltip-inner
//          width: 300px
//          padding: 5px
//
//
//        &.tooltip.right
//          top: -63px !important
//          left: -133px !important
//
//          .tooltip-arrow
//            display: none
//
//    .has-feedback
//
//      span
//        font-size: 1.2rem
//
//      .form-control-feedback
//        margin-top: 3px
//        width: 34px
//        height: 34px
//        right: 0
//        line-height: 34px
//
//    .tariffs
//      padding-top: 0
//      margin-bottom: 20px
//
//    .phone
//
//      .tooltip
//        .tooltip-inner
//          width: 300px
//          padding: 5px
//
//
//        &.tooltip.right
//          top: -21px !important
//          left: 72px !important
//
//          .tooltip-arrow
//            display: none
//
//
//@media (min-width: 361px)
//
//  .state-input
//
//    .crossboard-text
//    //height: 120px
//
//    .row-crossboard
//      top: -915px
//
//    .caret-c2c
//      //margin-left: 10%
//
//
//    .card
//      padding-bottom: 10px
//
//      input
//        height: 40px
//        font-size: 1.2rem
//
//      label
//        font-size: 1.2rem
//
//      &.source
//
//        .cvv
//          width: 90px
//
//      .card-logo
//
//        &.mastercard
//          width: 49px
//          height: 29px
//          right: 50px
//          margin-top: 5px
//
//        &.visa
//          width: 58px
//          height: 18px
//          right: 50px
//          margin-top: 11px
//
//      .tooltip
//        .tooltip-inner
//          width: 300px
//          padding: 5px
//
//
//        &.tooltip.right
//          top: -63px !important
//          left: -133px !important
//
//          .tooltip-arrow
//            display: none
//
//    .has-feedback
//
//      span
//        font-size: 1.2rem
//
//      .form-control-feedback
//        margin-top: 3px
//        width: 34px
//        height: 34px
//        right: 0
//        line-height: 34px
//
//    .tariffs
//      padding-top: 0
//      margin-bottom: 20px
//
//    .phone
//
//      .tooltip
//        .tooltip-inner
//          width: 300px
//          padding: 5px
//
//
//        &.tooltip.right
//          top: -21px !important
//          left: 72px !important
//
//          .tooltip-arrow
//            display: none
//
//
//
//@media (min-width: 768px)
//  .state-input
//    height: auto
//
//    .cross-card-left, .cross-card-right
//      margin-bottom: 0px
//
//    .row-crossboard
//      top: -365px
//
//    .caret-c2c
//      margin-left: 10%
//
//
//    .test-left, .test-right
//      width: 77%
//
//    .send
//      margin-top: 110px
//
//    //.cross-right
//    //  top: 0px
//
//    .card
//
//      label
//        font-size: 1rem
//
//      input
//        height: 34px
//        font-size: 1.1rem
//
//      .card-logo
//
//        &.mastercard
//          width: 42px
//          height: 25px
//          right: 50px
//          margin-top: 4px
//
//        &.visa
//          width: 58px
//          height: 18px
//          right: 50px
//          margin-top: 8px
//
//      &.source
//        .cvv
//          width: 80px
//
//      .has-feedback
//
//        .form-control-feedback
//          top: -3px
//          line-height: 42px
//          height: 41px
//
//
//@media (min-width: 1024px)
//
//  .state-input
//
//    .crossboard-text
//    //height: 40px
//
//    .row-crossboard
//      top: -380px
//
//    .caret-c2c
//      margin-left: 20%
//
//    .send
//      margin-top: 68px
//
//@media (min-width: 1200px)
//  .state-input
//
//    .crossboard-text
//      //height: 40px
//
//    .row-crossboard
//      top: -345px
//
//    .caret-c2c
//      margin-left: 30%
//
//    .send
//      margin-top: 58px
//
//    .card
//
//
//      label
//        font-size: 0.9rem
//
//      input
//        height: 30px
//        font-size: 14px
//
//      .card-logo
//
//        &.mastercard
//          margin-top: 3px
//          width: 37px
//          height: 23px
//          right: 43px
//
//        &.visa
//          margin-top: 8px
//          width: 44px
//          height: 14px
//          right: 45px
//
//      &.source
//
//        .cvv
//          width: 75px
//
//    .has-feedback
//
//      span
//        font-size: 0.8rem
//
//      .form-control-feedback
//        margin-top: -3px
//        width: 32px
//        height: 32px
//        right: -3px
//        line-height: 31px
//
//@media (min-width: 1200px)
//  .state-input
//
//    .send
//      margin-top: 68px
//
//
//
//@media (min-width: 1440px)
//
//  .state-input
//
//    .crossboard-text
//      //height: 40px
//
//    .row-crossboard
//      top: -345px
//
//    .send
//      margin-top: 58px
//
//
//    .card
//
//      label
//        font-size: 1rem
//
//      input
//        height: 40px
//        font-size: 1.2rem
//
//      .card-logo
//
//        &.mastercard
//          width: 49px
//          height: 29px
//          right: 60px
//          margin-top: 5px
//
//        &.visa
//          width: 58px
//          height: 18px
//          right: 56px
//          margin-top: 11px
//
//      &.source
//
//        .cvv
//          width: 95px
//
//      .has-feedback
//
//        span
//          font-size: 1rem
//
//        .form-control-feedback
//          width: 34px
//          height: 40px
//          right: 0
//          top: 4px
//          line-height: 40px
//
//    .amount, .phone
//
//      input
//        height: 40px
//        font-size: 16px
//
//
//
//    .buttons
//
//      button
//        height: 45px
//        font-size: 16px
//
//    .buttons-cross
//      margin-bottom: 10px


//<!--OLD Version (рабочая)-->

