.state-lookup
  margin: 0 auto
  max-width: 650px
  border-radius: 10px
  padding: 20px 30px
  text-align: justify
  border: 2px solid #f0ad4e

  .title
    font-size: 1.7em
    text-align: center
    margin-bottom: 20px

  .input-title
    display: inline

  .submit
    margin-top: 20px

  .lookup-input
    width: 20%
    display: inline-block
    margin-right: 15px