<div class="state-error">
    <div class="title">{{ 'CARD2CARD.ERROR.TITLE' | translate }}</div>
    <!--<div ng-if="transaction.state.message == 'Bad OTP Code'">-->
        <!--<div class="code-title">{{ 'CARD2CARD.ERROR.OPERATION_CODE' | translate }}</div>-->
    <!--</div>-->
    <div ng-if="transaction.operationNumber">
        <div class="code-title">{{ 'CARD2CARD.ERROR.OPERATION_CODE' | translate }}</div>
        <div class="operation-number">{{ transaction.operationNumber }}</div>
    </div>
    <!--<div ng-if="transaction.mPayStatus">-->
        <!--<div class="status-title">{{ 'CARD2CARD.ERROR.ERROR_CODE' | translate }}</div>-->
        <!--<div class="operation-status">{{ transaction.mPayStatus }}</div>-->
    <!--</div>-->
    <div class="text-title">{{ 'CARD2CARD.ERROR.GLOBAL_ERROR' | translate }}</div>
    <div class="phone-title">{{ 'CARD2CARD.ERROR.SUPPORT_TEL' | translate }}</div>
    <div class="phone-number"><strong>(044) 390-08-85</strong></div>
    <a ng-if="transaction.operationNumber && transaction.mPayStatus"
       ng-href="mailto:support@send.ua?subject=Money transfer error&body=Code operation: {{transaction.operationNumber}}. Error: {{transaction.mPayStatus}}">
        <button class="btn btn-primary"><span translate="CARD2CARD.ERROR.SEND_TO_SERVICE"></span></button>
    </a>
    <a ng-if="transaction.operationNumber && !transaction.mPayStatus"
       ng-href="mailto:support@send.ua?subject=Money transfer error&body=Code operation: {{transaction.operationNumber}}.">
        <button class="btn btn-primary"><span translate="CARD2CARD.ERROR.SEND_TO_SERVICE"></span></button>
    </a>
    <button class="btn btn-link" ng-click="goState(STATES.INPUT)">{{ 'CARD2CARD.BUTTON_CLOSE' | translate }}</button>
</div>