<div class="state-input" ct-spinner="input_loader">
    <form name="getByLinkForm" ct-payments ng-submit="submit()" autocomplete="off">
        <div class="form-group" ct-input-container>
            <label>{{'GET_BY_LINK.INPUT.CARD_NUMBER' | translate}}</label>
            <input type="text" name="number" class="form-control" ct-tabindex="checkNumber"
                   tabindex="1"
                   ng-model="number" required min="1"
                   ui-mask="9999 9999 9999 9999" placeholder="____ ____ ____ ____"
                   ct-payments-main-card ct-payments-format-number ct-payments-validate-number/>
            <div class="error-number">
                <div ng-messages="getByLinkForm.number.$error" ng-show="getByLinkForm.number.$touched">
                    <div ng-message="required">{{ 'CARD2CARD.ERRORS.SOURCE.NUMBER_REQUIRED' | translate }}</div>
                    <div ng-message="invalidNumber">{{ 'CARD2CARD.ERRORS.SOURCE.NUMBER_INVALID' | translate }}</div>
                </div>
            </div>
        </div>
        <div class="phone">
            <div class="from-group" ct-input-container>
                <label>{{'GET_BY_LINK.INPUT.PHONE_NUMBER' | translate}}</label>
                <input type="text" name="phoneNumber" class="form-control" ct-tabindex="checkPhone"
                       tabindex="2"
                       ng-model="phoneNumber"
                       ui-mask="+380 (99) 999 99 99" placeholder="+380 (__) ___-__-__" />
            </div>
        </div>
        <div class="amount">
            <div class="form-group" ct-input-container>
                <label>{{'GET_BY_LINK.INPUT.AMOUNT' | translate}}</label>
                <input class="form-control amount-input" type="text" name="amount" tabindex="3"
                       ng-model="amount" ct-currency/>
                <div class="error-amount">
                    <div ng-messages="getByLinkForm.amount.$error">
                        <div ng-message="required">{{ 'CARD2CARD.ERRORS.AMOUNT.AMOUNT_REQUIRED' | translate }}</div>
                    </div>
                </div>
            </div>
            <div class="text-right">
                <button type="submit" class="btn btn-warning get-link" tabindex="4"
                        ng-disabled="getByLinkForm.$invalid || getByLinkForm.$pristine">
                    {{'GET_BY_LINK.INPUT.GET_LINK' | translate}}
                </button>
            </div>
        </div>
    </form>
</div>
