<div class="state-success">
    <div class="text-center">
        <div class="title">Операция прошла успешно</div>
        <div class="message">Ссылка отправлена на указанный email,<br />предупредите получателя</div>
        <div class="phone-title">{{ 'CARD2CARD.ERROR.SUPPORT_TEL' | translate }}</div>
        <div class="phone-number"><strong>(044) 390-08-85</strong></div>
        <button class="btn btn-warning" ng-click="goState(STATES.INPUT)">{{'CARD2CARD.BUTTON_CLOSE' |
            translate}}
        </button>
    </div>
</div>