<div class="state-success">
    <div class="text-center">
        <div class="title">{{ 'GET_BY_LINK.SUCCESS.TITLE' | translate }}</div>
        <div class="message">{{ 'GET_BY_LINK.SUCCESS.MESSAGE' | translate }}</div>
        <div class="phone-title">{{ 'GET_BY_LINK.SUCCESS.PHONE_TITLE' | translate }}</div>
        <div class="phone-number"><strong>(044) 390-08-85</strong></div>
        <button class="btn btn-link" ng-click="goState(STATES.INPUT)">
            {{ 'GET_BY_LINK.SUCCESS.CLOSE' | translate }}
        </button>
    </div>
</div>