
<select ng-show="NODE_ENV == 'development'" ng-model="state" ng-options="k as v for (k, v) in STATES"></select>

<div class="container pay">
    <div class="wrapper">

        <div class="send">Отправить</div>
        <div class="from-card">Перевод с карты на карту</div>
        <div class="from-phone">Перевод по номеру телефона</div>
        <div class="sidebar">
            <div class="get">Получить</div>
        </div>
        <div class="content">
            <div class="main" card-to-card></div>

        </div>
</div>








