// Import Bootstrap styles'
$icon-font-path: "~bootstrap-sass/assets/fonts/bootstrap/"
@import "~bootstrap-sass/assets/stylesheets/_bootstrap.scss"

// Import FontAwesome
$fa-font-path: "~font-awesome/fonts"
@import "~font-awesome/scss/font-awesome.scss"

// Import Mixins'
@import "mixins/index"

@import "layout/send"

// Misc
a
    cursor: pointer

input:invalid
    box-shadow: none