.state-phone-input
  margin: 0 auto
  max-width: 385px
  border-radius: 10px
  padding: 20px 25px
  border: 2px solid #f0ad4e

  .title
    text-align: center
    font-size: 25px
    font-weight: normal
    margin-bottom: 30px

  label
    font-size: 12px
    font-weight: 500
    margin-bottom: 0
    color: #003366

  .get
    text-transform: uppercase

  .error-number, .error-date, .error-cvc, .error-phone, .error-amount, .error-target
    height: 15px
    line-height: 15px
    color: #d9534f
    font-size: 12px

