<!DOCTYPE html>
<html {% if(o.htmlWebpackPlugin.files.manifest) { %} manifest="{%= o.htmlWebpackPlugin.files.manifest %}" {% } %}>
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>{%=o.htmlWebpackPlugin.options.title || 'App'%}</title>
    {% for (var css in o.htmlWebpackPlugin.files.css) { %}
    <link href="{%=o.htmlWebpackPlugin.files.css[css] %}" rel="stylesheet">
    {% } %}
</head>
<link rel="shortcut icon" href="favicon.ico" type="image/x-icon">
<body>
  <div class="wrapper" ui-view></div>
  <!--[if lt IE 9]>
    <p class="browsehappy container text-center alert alert-warning">Вы используете <strong>устаревший</strong> браузер. Пожалуйста <a href="http://browsehappy.com/" class="alert-link">обновите ваш браузер</a> для продолжения работы.</p>
  <![endif]-->

  <!--[if gte IE 9]><!-->
  {% for (var chunk in o.htmlWebpackPlugin.files.chunks) { %}
        <script src="{%=o.htmlWebpackPlugin.files.chunks[chunk].entry %}"></script>
  {% } %}

  <script type="text/javascript">
      (function(w, d, s, u) {
          w.RocketChat = function(c) { w.RocketChat._.push(c) }; w.RocketChat._ = []; w.RocketChat.url = u;
          var h = d.getElementsByTagName(s)[0], j = d.createElement(s);
          j.async = true; j.src = 'https://chat.ourdoma.in/packages/rocketchat_livechat/assets/rocket-livechat.js';
          h.parentNode.insertBefore(j, h);
      })(window, document, 'script', 'https://chat.ourdoma.in/livechat');
  </script>

  <script type="text/javascript">
      var _paq = _paq || [];
      _paq.push(['trackPageView']);
      _paq.push(['enableLinkTracking']);
      (function() {
          var u="//analytics.ourdoma.in/";
          _paq.push(['setTrackerUrl', u+'piwik.php']);
          _paq.push(['setSiteId', 2]);
          var d=document, g=d.createElement('script'), s=d.getElementsByTagName('script')[0];
          g.type='text/javascript'; g.async=true; g.defer=true; g.src=u+'piwik.js'; s.parentNode.insertBefore(g,s);
      })();
  </script>
  <noscript><p><img src="//piwik.yourdomain.com/piwik.php?idsite={$IDSITE}" style="border:0;" alt="" /></p></noscript>

  <script>
      (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
                  (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
              m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
      })(window,document,'script','https://www.google-analytics.com/analytics.js','ga');

      ga('create', 'UA-77571720-1', 'none');

  </script>
  <!--<![endif]-->
</body>
</html>
