<!DOCTYPE html>
<html {% if(o.htmlWebpackPlugin.files.manifest) { %} manifest="{%= o.htmlWebpackPlugin.files.manifest %}" {% } %}>
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>{%=o.htmlWebpackPlugin.options.title || 'App'%}</title>
    {% for (var css in o.htmlWebpackPlugin.files.css) { %}
    <link href="{%=o.htmlWebpackPlugin.files.css[css] %}" rel="stylesheet">
    {% } %}
</head>
<link rel="shortcut icon" href="favicon.ico" type="image/x-icon">
<body>
<div class="app">
    <header>
        <nav class="navbar navbar-default">
            <div class="container-fluid">
                <div class="navbar-header">
                    <button type="button" class="navbar-toggle collapsed" data-toggle="collapse"
                            data-target="#bs-example-navbar-collapse-1" aria-expanded="false">
                        <span class="sr-only">Toggle navigation</span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                    </button>
                    <a ui-sref="app.main"><img class="logo" src="./assets/images/logo_sendua.png" alt=""></a>
                </div>
                <div class="collapse navbar-collapse">
                    <ul class="nav navbar-nav">
                        <li><a href="#">UA</a></li>
                        <li><a href="#">RU</a></li>
                        <li><a href="#">EN</a></li>
                    </ul>
                    <form class="navbar-form navbar-left" role="search">
                        <div class="form-group">
                            <input type="text" class="form-control" placeholder="Логин" id="login">
                        </div>

                        <div class="form-group">
                            <input type="text" class="form-control" placeholder="Пароль" id="password">
                        </div>
                        <button type="submit" class="btn btn-warning">Войти</button>
                    </form>
                    <a href="#" class="text-left">Забыли логин?</a>
                    <a href="#" class="text-left">Забыли логин?</a>
                </div>
                <div class="top-menu">
                    <div class="collapse navbar-collapse">
                        <div class="navigation-links">
                            <ul class="nav navbar-nav">
                                <li><a href="#" scroll-to="services">{{ 'APP.MENU.ABOUT' | translate }}</a></li>
                                <li><a href="#" scroll-to="tarif">{{ 'APP.MENU.TARIFFS' | translate }}</a></li>
                                <li><a href="#" scroll-to="qaa">{{ 'APP.MENU.FAQ' | translate }}</a></li>
                                <li><a href="#" scroll-to="contacts">{{ 'APP.MENU.CONTACTS' | translate }}</a></li>
                                <li class="item login ng-binding"><a href="#">{{ 'APP.MENU.DASHBOARD' | translate }}</a>
                                </li>
                                <!--<div ng-class="lang" ng-click="ac.changeLanguage()">Translate</div>-->
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
        </nav>
    </header>
    <div class="main">
        <aside class="sidebar">
            <div class="send" ui-sref-active="active">
                <a ui-sref="send">Отправить</a>
            </div>
            <div class="get" ui-sref-active="active">
                <a ui-sref="get">Получить</a>
            </div>
        </aside>
        <div class="content" ui-view>
        </div>
    </div>
    <div class="information">
        <!--content-->
        <div class="services" id="services">
            <div class="title text-center">{{ 'APP.CONTENT.SERVICE.TITLE' | translate }}</div>
            <div class="description">
                <div class="text" translate="APP.CONTENT.SERVICE.TEXT"></div>
            </div>
            <img src="./assets/images/old/gear.jpg" class="images" height="300px">
            <div class="clearfix"></div>
            <div class="button-down" scroll-to="tarif"></div>
        </div>
        <div class="clearfix"></div>
        <div class="tariffs" id="tarif">
            <div class="title text-center">{{ 'APP.CONTENT.TARIFFS.TITLE' | translate }}</div>
            <div class="description text-left">
                <div class="text" translate="APP.CONTENT.TARIFFS.TEXT"></div>
                <img class="images" src="./assets/images/old/Calc_illustr.jpg" width="350" height="310">
                <div class="clearfix"></div>
                <div class="button-down" scroll-to="qaa"></div>
            </div>
        </div>
        <div class="clearfix"></div>
        <div class="questions" id="qaa">
            <div class="title text-center">{{ 'APP.CONTENT.FAQ.TITLE' | translate }}</div>
            <div class="block">
                <uib-accordion close-others="true">
                    <uib-accordion-group is-open="true">
                        <uib-accordion-heading>
                            <div class="icon-ask" ng-class="{'active': $parent.isOpen}"></div>
                            <span>{{ 'APP.CONTENT.FAQ.QUESTION_1.TITLE' | translate }}</span>
                        </uib-accordion-heading>
                        <div translate="APP.CONTENT.FAQ.QUESTION_1.TEXT"></div>
                    </uib-accordion-group>
                    <uib-accordion-group>
                        <uib-accordion-heading>
                            <div class="icon-ask" ng-class="{'active': $parent.isOpen}"></div>
                            <span>{{ 'APP.CONTENT.FAQ.QUESTION_2.TITLE' | translate }}</span>
                        </uib-accordion-heading>
                        <div translate="APP.CONTENT.FAQ.QUESTION_2.TEXT"></div>
                    </uib-accordion-group>
                    <uib-accordion-group>
                        <uib-accordion-heading>
                            <div class="icon-ask" ng-class="{'active': $parent.isOpen}"></div>
                            <span>{{ 'APP.CONTENT.FAQ.QUESTION_3.TITLE' | translate }}</span>
                        </uib-accordion-heading>
                        <div translate="APP.CONTENT.FAQ.QUESTION_3.TEXT"></div>
                    </uib-accordion-group>
                </uib-accordion>
                <div class="button-up" scroll-to="navbarCollapse"></div>
            </div>
            <div class="clearfix"></div>
            <div class="contacts" id="contacts">
                <!--contacts block-->
                <div class="social">
                    <div class="title">Мы в соцсетях</div>
                    <div class="row">
                        <div class="facebook-pic"></div>
                        <div class="twitter-pic"></div>
                    </div>
                </div>
                <div class="phone">
                    <div class="title">Телефон</div>
                    <div class="row">
                        <div class="phone">
                            <a href="tel:380443900885">
                                <div class="phone-pic"></div>
                                <div class="phone-number">044 390-08-85</div>
                            </a>
                        </div>
                    </div>
                </div>
                <div class="mail">
                    <div class="title">Почта</div>
                    <div class="row">
                        <div class="facebook-pic"></div>
                        <div class="twitter-pic"></div>
                        <div class="mail">
                            <a href="mailto:support@send.ua">support@send.ua</a>
                        </div>
                    </div>
                </div>
                <!--end of contacts block-->
            </div>
        </div>
    </div>
    <footer>
        <div class="footer-wrap">
            <a href="http://www.visa.com.ua/ua/uk-ua/personal/security/onlineshopping.shtml" target="_blank">
                <div class="veri-visa banner"></div>
            </a>
            <div class="master banner"></div>
            <div class="money-send banner"></div>
            <div class="master2 banner"></div>
            <a href="http://www.mastercard.com/ua/consumer/secure-code.html" target="_blank">
                <div class="secure banner"></div>
            </a>
        </div>
    </footer>
</div>
    {% for (var chunk in o.htmlWebpackPlugin.files.chunks) { %}
      <script src="{%=o.htmlWebpackPlugin.files.chunks[chunk].entry %}"></script>
    {% } %}
</body>
</html>
